{% set is_new = board.new or board.children_new %}
{% set is_redirect = board.is_redirect %}
{% set is_stale = not is_new and not is_redirect %}
{% set has_posts_to_approve = board.can_approve_posts and (board.unapproved_posts or board.unapproved_topics) %}

<tr id="board_{{ board.id }}" class="board_row object_row">
  <td class="icon center">
    <a href="{% if board.is_redirect or context.user.is_guest %}{{ board.href }}{% else %}{{ scripturl }}?action=unread;board={{ board.id }}.0;children{% endif %}">
      {% if is_redirect %}
        <img src="{{ images_url }}/forum_list_board_redirect.png" alt="Redirect" title="Redirects to an external site" width="42" height="42" />
      {% elseif context.user.is_guest %}
        <img src="{{ images_url }}/forum_list_board_unread.png" alt="{{ txt.new_posts }}" title="{{ txt.new_posts }}" width="42" height="42" />
      {% elseif is_new %}
        <img src="{{ images_url }}/forum_list_board_unread{% if not board.new %}_sub{% endif %}.png" alt="{{ txt.new_posts }}" title="{{ txt.new_posts }}" width="42" height="42" />
      {% elseif is_stale %}
        <img src="{{ images_url }}/forum_list_board_read.png" alt="{{ txt.old_posts }}" title="{{ txt.old_posts }}" width="42" height="42" />
      {% endif %}
    </a>
  </td>
  <td class="info light sections">
    <div class="section board_name">
      <a class="subject" href="{{ board.href }}" name="b{{ board.id }}">{{ board.name|raw }}</a>
      {% if (board._permissions.hidden_to_some or board._permissions.non_default_profile) and context.user.is_admin %}
        <div class="subsection hidden_to_groups">
          {% if board._permissions_profile == 'read_only' %}
            <span class="hidden">Read-only</span>
          {% endif %}
          {% if board._permissions.only_admin %}
            <span class="hidden admin_only">Administrator only</span>
          {% else %}
            {% if board._permissions.hidden_to_guest %}
              <span class="hidden">Hidden to Guests</span>
            {% endif %}
            {% if board._permissions.hidden_to_members %}
              <span class="hidden">Hidden to Members</span>
            {% endif %}
          {% endif %}
        </div>
      {% endif %}
    </div>
    <div class="section board_information">
      {% if has_posts_to_approve %}
        <div class="subsection">
          <a href="{{ scripturl }}?action=moderate;area=postmod;sa={% if board.unapproved_topics > 0 %}topics{% else %}posts{% endif %};brd={{ board.id }};{{ context.session_var }}={{ context.session_id }}" title="{{ txt.unapproved_posts|format(board.unapproved_topics, board.unapproved_posts) }}" class="moderation_link">(!)</a>
        </div>
      {% endif %}
      <div class="subsection item_description post_text">
        <p>{{ parse_bbc(board.description)|raw }}</p>
      </div>
      {% if board.moderators is not empty %}
        <div class="subsection moderators">
          <span class="sub_title">{{ (board.moderators|length == 1) ? txt.moderator : txt.moderators }}</span>: 
          {{ board.link_moderators|join(', ')|raw }}
        </div>
      {% endif %}
      {% if board.children is not empty %}
        <div class="subsection board_children" id="board_{{ board.id }}_children">
          <span class="sub_title">{{ txt.parent_boards }}:</span>
          <ul>
            {% for child in board.children %}
              {% set has_posts_to_approve = child.can_approve_posts and (child.unapproved_posts or child.unapproved_topics) %}
              <li class="{{ child.new ? 'has_new' : '' }}">
                {%- apply spaceless %}
                  {% if not child.is_redirect %}
                    {% set title = (child.new ? txt.new_posts : txt.old_posts) ~ ' (' ~ txt.board_topics ~ ': ' ~ child.topics|number_format ~ ', ' ~ txt.posts ~ ': ' ~ child.posts|number_format ~ ')' %}
                    <a class="{{ child.new ? 'new_posts' : '' }}" href="{{ child.href }}" title="{{ title }}">{{ child.name }}</a>
                  {% else %}
                    <a href="{{ child.href }}" title="{{ child.posts|number_format }} {{ txt.redirects }}">{{ child.name }}</a>
                  {% endif %}
                  {% if has_posts_to_approve %}
                    <a href="{{ scripturl }}?action=moderate;area=postmod;sa={{ child.unapproved_topics > 0 ? 'topics' : 'posts' }}&brd={{ child.id }}&{{ context.session_var }}={{ context.session_id }}" title="{{ txt.unapproved_posts|format(child.unapproved_topics, child.unapproved_posts) }}" class="moderation_link">(!)</a>
                  {% endif %}
                {% endapply -%}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  </td>
  <td class="stats small center">
    <p>
      {{ board.posts|number_format }} {{ board.is_redirect ? txt.redirects : txt.posts }} <br />
      {% if not board.is_redirect %}
        {{ board.topics|number_format }} {{ txt.board_topics }}
      {% endif %}
    </p>
  </td>
  <td class="last_post light small">
    {% if board.last_post.id %}
      <p>
        {{ board.last_post.time|raw }}<br/>
        {{ txt.in }} {{ board.last_post.link|raw }} {{ txt.by }} {{ board.last_post.member.link|raw }}
      </p>
    {% else %}
      <p>—</p>
    {% endif %}
  </td>
</tr>
