{% set changelog_content %}
  {% if not context.git_info.history %}
    <p>Commit history unavailable.</p>
  {% else %}
    <p>Recent commit history:</p>
    <ul>
    {% for commit in context.git_info.history %}
      <li>
        <a href="{{ commit.commit_url }}"><code>{{ commit.hash_short }}</code></a> {{ commit.timestamp|format_datetime(pattern='y-MM-dd') }}, {{ commit.subject }}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
  <p>View the <a href="{{ context.git_info.package.repository }}">repository</a> for the full commit history.</p>
{% endset %}

{% set pkg_details = [
  {key: 'Name', value: context.git_info.package.name},
  {key: 'Version', value: context.git_info.package.version},
] %}

{% set repo_details = [
  {key: 'Hash', value: '<a href="' ~ context.git_info.commit_url ~ '">' ~ context.git_info.hash ~ '</a>'},
  {key: 'Date', value: context.git_info.timestamp|format_datetime(pattern='y-MM-dd HH:mm:ss z')},
  {key: 'Branch', value: context.git_info.branch},
  {key: 'Commits', value: context.git_info.count},
] %}

{% if context.user.is_admin %}
  {# Allow admin users to request a hard refresh. #}
  {% set package_buttons = {
    notify: {
      text: 'Force refresh',
      lang: false,
      url: scripturl ~ '?action=help;area=changelog;forcerefresh'
    },
  } %}
{% endif %}

{% if context.git_info.package %}
  {% include 'components/component_key_value.twig' with {title: 'Package', rows: pkg_details, is_wide: false, is_clamped: true, title_buttons: package_buttons} %}
{% endif %}
{% if context.git_info.branch %}
  {% include 'components/component_key_value.twig' with {title: 'Current Commit', rows: repo_details, is_wide: false, is_clamped: true} %}
{% endif %}
{% include 'components/component_article.twig' with {title: 'Changelog', 'content': changelog_content} %}
