{# Poll section of the new post page. #}
{# TODO: CLEAN UP #}
<div id="edit_poll">
  <fieldset id="poll_main">
      <legend>
          <span{% if context.poll_error.no_question is defined %} class="error"{% endif %}>{{ txt.poll_question }}</span>
      </legend>
      <input type="text" name="question" value="{{ context.question is defined ? context.question : '' }}" tabindex="{{ context.tabindex + 1 }}" size="80" />
      <ul class="poll_main">
      {% for choice in context.choices %}
          <li>
              <label for="options-{{ choice.id }}">{{ txt.option }} {{ choice.number }}</label>:
              <input type="text" name="options[{{ choice.id }}]" id="options-{{ choice.id }}" value="{{ choice.label }}" tabindex="{{ context.tabindex + 1 }}" size="80" maxlength="255" />
          </li>
      {% endfor %}
      <li id="pollMoreOptions"></li>
      </ul>
      <strong><a href="javascript:addPollOption(); void(0);">({{ txt.poll_add_option }})</a></strong>
  </fieldset>

  
  <fieldset id="poll_options">
      <legend>{{ txt.poll_options }}</legend>
      <dl class="settings poll_options">
          <dt>
              <label for="poll_max_votes">{{ txt.poll_max_votes }}:</label>
          </dt>
          <dd>
              <input type="text" name="poll_max_votes" id="poll_max_votes" size="2" value="{{ context.poll_options.max_votes }}" />
          </dd>
          <dt>
              <label for="poll_expire">{{ txt.poll_run }}:</label><br />
              <em class="smalltext">{{ txt.poll_run_limit }}</em>
          </dt>
          <dd>
              <input type="text" name="poll_expire" id="poll_expire" size="2" value="{{ context.poll_options.expire }}" onchange="pollOptions();" maxlength="4" /> {{ txt.days_word }}
          </dd>
          <dt>
              <label for="poll_change_vote">{{ txt.poll_do_change_vote }}:</label>
          </dt>
          <dd>
              <input type="checkbox" id="poll_change_vote" name="poll_change_vote"{{ context.poll.change_vote is not empty ? ' checked="checked"' : '' }} class="input_check" />
          </dd>
      
      {% if context.poll_options.guest_vote_enabled %}
          <dt>
              <label for="poll_guest_vote">{{ txt.poll_guest_vote }}:</label>
          </dt>
          <dd>
              <input type="checkbox" id="poll_guest_vote" name="poll_guest_vote"{{ context.poll_options.guest_vote is not empty ? ' checked="checked"' : '' }} class="input_check" />
          </dd>
      {% endif %}
      <dt>
          {{ txt.poll_results_visibility }}:
      </dt>
      <dd>
          <input type="radio" name="poll_hide" id="poll_results_anyone" value="0"{{ context.poll_options.hide == 0 ? ' checked="checked"' : '' }} class="input_radio" /> <label for="poll_results_anyone">{{ txt.poll_results_anyone }}</label><br />
          <input type="radio" name="poll_hide" id="poll_results_voted" value="1"{{ context.poll_options.hide == 1 ? ' checked="checked"' : '' }} class="input_radio" /> <label for="poll_results_voted">{{ txt.poll_results_voted }}</label><br />
          <input type="radio" name="poll_hide" id="poll_results_expire" value="2"{{ context.poll_options.hide == 2 ? ' checked="checked"' : '' }} {{ context.poll_options.expire is empty ? 'disabled="disabled"' : '' }} class="input_radio" /> <label for="poll_results_expire">{{ txt.poll_results_after }}</label>
      </dd>
    </dl>
  </fieldset>
</div>
