{# Poll section of the new post page. #}
<tr id="edit_poll" class="object_row {% if context.poll_error.no_question %}error{% endif %}">
  <th class="minimal">{{ txt.poll_question }}:</th>
  <td>
    <input type="text" name="question" value="{{ context.poll.question ?? context.question ?? '' }}" tabindex="{{ context.tabindex + 1 }}" size="80" />
  </td>
</tr>
<tr id="edit_poll" class="object_row">
  <th class="minimal">Poll options:</th>
  <td>
    <ul class="poll_options">
      {% for choice in context.choices %}
        <li>
          <label for="options-{{ choice.id }}">{{ txt.option }} {{ choice.number }}</label>:
          <input type="text" name="options[{{ choice.id }}]" id="options-{{ choice.id }}" value="{{ choice.label }}" tabindex="{{ context.tabindex + 1 }}" size="80" maxlength="255" />
        </li>
      {% endfor %}
      <li id="pollMoreOptions"></li>
    </ul>
    <button type="button" onclick="addPollOption(); void(0);">{{ txt.poll_add_option }}</button>
    <div class="subline">To remove an option, empty out its input field.</div>
  </td>
</tr>
<tr id="edit_poll_options" class="object_row">
  <th class="minimal">Poll details:</th>
  <td>
    <ul class="object_row_list">
      <li>
        <label for="poll_max_votes">{{ txt.poll_max_votes }}: <input type="text" name="poll_max_votes" id="poll_max_votes" size="2" value="{{ context.poll_options.max_votes }}" /></label>
      </li>
      <li>
        <label for="poll_expire">{{ txt.poll_run }}: <input type="text" name="poll_expire" id="poll_expire" size="2" value="{{ context.poll_options.expire }}" onchange="pollOptions();" maxlength="4" /> {{ txt.days_word }}</label>
        <em class="smalltext">{{ txt.poll_run_limit }}</em>
      </li>
      <li>
        <label for="poll_change_vote"><input type="checkbox" id="poll_change_vote" name="poll_change_vote" {{ context.poll.change_vote is not empty ? 'checked="checked"' }} /> {{ txt.poll_do_change_vote }}</label>
      </li>
      {% if context.poll_options.guest_vote_enabled %}
        <li>
          <label for="poll_guest_vote"><input type="checkbox" id="poll_guest_vote" name="poll_guest_vote" {{ context.poll_options.guest_vote is not empty ? 'checked="checked"' }} /> {{ txt.poll_guest_vote }}</label>
        </li>
      {% endif %}
      <li>
        <label for="poll_results_anyone"><input type="radio" name="poll_hide" id="poll_results_anyone" value="0" {{ context.poll_options.hide == 0 ? 'checked="checked"' }} class="input_radio" /> {{ txt.poll_results_anyone }}</label>
      </li>
      <li>
        <label for="poll_results_voted"><input type="radio" name="poll_hide" id="poll_results_voted" value="1" {{ context.poll_options.hide == 1 ? 'checked="checked"' }} class="input_radio" /> {{ txt.poll_results_voted }}</label>
      </li>
      <li>
         <label for="poll_results_expire"><input type="radio" name="poll_hide" id="poll_results_expire" value="2" {{ context.poll_options.hide == 2 ? 'checked="checked"' }} {{ context.poll_options.expire is empty ? 'disabled="disabled"' }} class="input_radio" /> {{ txt.poll_results_after }}</label>
      </li>
    </ul>
  </td>
</tr>
{% if context.is_edit %}
  <tr id="edit_poll_options" class="object_row">
    <th class="minimal">{{ txt.reset_votes }}:</th>
    <td>
      <ul class="object_row_list">
        <li>
          <label for="resetVoteCount"><input type="checkbox" id="resetVoteCount" name="resetVoteCount" value="on" /> {{ txt.reset_votes_check }}</label>
        </li>
      </ul>
    </td>
  </tr>
{% endif %}

<script>
  var pollOptionNum = 0;

  function addPollOption()
  {
    if (pollOptionNum == 0)
    {
      for (var i = 0; i < document.forms.postmodify.elements.length; i++)
        if (document.forms.postmodify.elements[i].id.substr(0, 8) == "options-")
          pollOptionNum++;
    }
    pollOptionNum++

    setOuterHTML(document.getElementById("pollMoreOptions"), '<li><label for="options-' + pollOptionNum + '" {% if context.poll_error.no_question is defined %}class="error"{% endif %}>{{ txt['option'] }} ' + pollOptionNum + '</label>: <input type="text" name="options[' + (pollOptionNum - 1) + ']" id="options-' + (pollOptionNum - 1) + '" value="" size="80" maxlength="255" /></li><li id="pollMoreOptions"></li>');
  }
</script>
