{# This template creates a menu that can be seen at the top of a forum or thread, e.g. "Reply", "New Poll", etc. #}
{# It also creates the light blue buttons inside of a blue_component header, e.g. "Notify", "Mark Unread". #}
{% if buttons is defined and buttons %}
  {% if not strip_options is iterable %}
    {% set strip_options = [] %}
  {% endif %}

  <div class="button_strip {{ type ? 'type_' ~ type : '' }} {{ not buttons ? 'button_strip_empty' : ''}}" {{ strip_options.id is defined ? ' id="' ~ strip_options.id ~ '"': ''}}>
    <ul>
      {% for key, value in buttons %}
        {% if (value.static_test is defined and value.static_test == true) or (value.test and context[value.test]) or (value.static_test is not defined and value.test is not defined) %}
          {% set tag = value.static ? 'span' : 'a' %}
          <li>
            <{{ tag }}{{ value.id is defined ? ' id="button_strip_' ~ value.id ~ '"' : ''}} class="button button_{{ key }} {{ value.active ? 'active'}} {{ value.static ? 'static' }} {{ value.no_bg ? 'no_bg' }}" href="{{ value.url }}" {{ value.custom is defined ? value.custom|raw : ''}}>
              <span class="{{ value.form ? 'button_strip_form' : '' }}">{{ value.lang ? txt[value.text] : value.text }}</span>
            </{{ tag }}>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endif %}
