{% if context.linktree is not empty and (not context.dont_default_linktree) %}
  <div class="linktree">
    <ul>
      {% for link_num, tree in context.linktree %}
        <li>
          {% set is_last = link_num == context.linktree|length - 1 and context.linktree|length > 1 %}
          {% if link_num == 0 %}
            <img src="{{ images_url }}/linktree_hierarchy.png" alt="" class="pixel" role="presentation" />
          {% endif %}

          {% if is_last %}
            <img src="{{ images_url }}/linktree_page.png" alt="" class="pixel" role="presentation" />
          {% endif %}
          {% if tree.url is defined and not is_last %}
            <a href="{{tree.url}}"><span>{{ tree.name|raw }}</span></a>
          {% else %}
            <span>{{ tree.name|raw }}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
