{% set login_url = scripturl ~ '?action=login2' %}
{% set login_hashing = context.disable_login_hashing is empty ? 'onsubmit="hashLoginPassword(this, \'' ~ context.session_id ~ '\');"' : '' %}

<form id="guest_form" action="{{ login_url }}" method="post" accept-charset="{{ context.character_set }}" {{ login_hashing }}>
  <div class="info top">{{ txt.welcome_guest|format(txt.guest_title)|raw }}</div>

  <input type="text" name="user" size="10" />
  <input type="password" name="passwrd" size="10" class="input_password" />

  <select name="cookielength">
    <option value="60">{{ txt.one_hour }}</option>
    <option value="1440">{{ txt.one_day }}</option>
    <option value="10080">{{ txt.one_week }}</option>
    <option value="43200">{{ txt.one_month }}</option>
    <option value="-1" selected="selected">{{ txt.forever }}</option>
  </select>

  <input type="submit" value="{{ txt.login }}" /><br />
  <div class="info bottom">{{ txt.quick_login_dec }}</div>

  {% if modSettings.enableOpenID is not empty %}
    <br /><input type="text" name="openid_identifier" id="openid_url" size="25" class="openid_login" />
  {% endif %}

  <input type="hidden" name="hash_passwrd" value="" /><input type="hidden" name="{{ context.session_var }}" value="{{ context.session_id }}" />
</form>
