<table border="0" width="100%" cellpadding="3" cellspacing="0" class="tborder" align="center">
  <tr>
    <td align="left">{{ context.forum_contacts|raw }}</td>
  </tr>
  <tr>
    <td align="right">
      <em>{{ txt.coppa_form_address|raw }}</em>: {{ context.ul|raw }}<br>
      {{ context.ul|raw }}<br>
      {{ context.ul|raw }}<br>
      {{ context.ul|raw }}
    </td>
  </tr>
  <tr>
    <td align="right">
      <em>{{ txt.coppa_form_date|raw }}</em>: {{ context.ul|raw }}<br><br>
    </td>
  </tr>
  <tr>
    <td align="left">
      {{ context.coppa_body|raw }}
    </td>
  </tr>
</table>
<br>
