{% set pkg_details = [
  {key: 'Name', value: context.git_info.package.name},
  {key: 'Version', value: context.git_info.package.version},
  {key: 'Repository', value: '<a href="' ~ context.git_info.package.repository ~ '">' ~ context.git_info.package.repository ~ '</a>'},
  {key: 'Mode', value: context.env.mode},
] %}

{% set repo_details = [
  {key: 'Hash', value: '<a href="' ~ context.git_info.commit_url ~ '">' ~ context.git_info.hash ~ '</a>'},
  {key: 'Date', value: context.git_info.timestamp|format_datetime(pattern='y-MM-dd HH:mm:ss z')},
  {key: 'Branch', value: context.git_info.branch},
  {key: 'Commits', value: context.git_info.count},
] %}

{% if context.user.is_admin %}
  {# Allow admin users to request a hard refresh. #}
  {% set package_buttons = {
    notify: {
      text: 'Force refresh',
      lang: false,
      url: scripturl ~ '?action=help;area=changelog;forcerefresh'
    },
  } %}
{% endif %}

{% if context.git_info.package %}
  {% include 'components/generic/component_key_value.twig' with {title: 'Package', rows: pkg_details, is_wide: false, is_clamped: true, title_buttons: package_buttons} %}
{% endif %}
{% if context.git_info.branch %}
  {% include 'components/generic/component_key_value.twig' with {title: 'Current Commit', rows: repo_details, is_wide: false, is_clamped: true} %}
{% endif %}

<div class="object_list changelog">
  <div class="blue_component">
    <div class="blue_component_header">
      <h3 class="blue_component_title">Changelog (Last {{ context.git_info.history|length }} Commits)</h3>
    </div>
    <div class="object_list_frame">
      <table class="object_table key_value_table {{ is_wide ? 'wide_keys' : '' }}">
        <tbody>
          {% for commit in context.git_info.history %}
            <tr class="object_row">
              <td class="kv_key medium"><a href="{{ commit.commit_url }}"><code>{{ commit.hash_short }}</code></a></td>
              <td class="kv_value light">{{ commit.subject }}</td>
              <td class="minimal light"><code class="insertions">{{ commit.summary[0] }}</code></td>
              <td class="minimal connected_left light"><code class="deletions">{{ commit.summary[1] }}</code></td>
              <td class="minimal light">{{ commit.timestamp|format_datetime(pattern='y-MM-dd') }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
