{% set pkg_details = [
  {key: 'Name', value: context.git_info.package.name},
  {key: 'Version', value: context.git_info.package.version},
  {key: 'Repository', value: '<a href="' ~ context.git_info.package.repository ~ '">' ~ context.git_info.package.repository ~ '</a>'},
  {key: 'Mode', value: context.env.mode},
] %}

{% set repo_details = [
  {key: 'Hash', value: '<a href="' ~ context.git_info.commit_url ~ '">' ~ context.git_info.hash ~ '</a>'},
  {key: 'Date', value: context.git_info.timestamp|format_datetime(pattern='y-MM-dd HH:mm:ss z')},
  {key: 'Branch', value: context.git_info.branch},
  {key: 'Commits', value: context.git_info.count},
] %}

{# Whether our theme hooks and tasks are properly installed. #}
{% set prerequisites_are_installed = context.theme_prerequisites.all_prerequisites_installed %}

{# Special administrative actions for admins only. #}
{% if context.user.is_admin %}
  {# Refreshes the Git cache. This is fairly expensive and done every 10 mins by default. #}
  {% set package_buttons = {
    notify: {
      text: 'Force refresh',
      lang: false,
      url: scripturl ~ '?action=help;area=changelog;forcerefresh'
    },
  } %}
  {# Installs or removes GW theme custom prerequisites. #}
  {% set package_buttons = package_buttons|merge({
    prerequisites: {
      text: prerequisites_are_installed ? 'Remove theme prerequisites' : 'Install theme prerequisites',
      lang: false,
      custom: prerequisites_are_installed ? 'onclick="return confirm(\'Really uninstall theme prerequisites?\')"' : '',
      url: scripturl ~ '?action=help;area=changelog;' ~ (prerequisites_are_installed ? 'removeprerequisites' : 'installprerequisites')
    },
  }) %}
{% endif %}

{% if context.git_info.package %}
  {% include 'components/generic/component_key_value.twig' with {title: 'Package', rows: pkg_details, is_wide: false, is_clamped: true, title_buttons: package_buttons} %}
{% endif %}
{% if context.git_info.branch %}
  {% include 'components/generic/component_key_value.twig' with {title: 'Current Commit', rows: repo_details, is_wide: false, is_clamped: true} %}
{% endif %}

<div class="object_list changelog">
  <div class="blue_component">
    <div class="blue_component_header">
      <h3 class="blue_component_title">Changelog (Last {{ context.git_info.history|length }} Commits)</h3>
    </div>
    <div class="object_list_frame">
      <table class="object_table key_value_table {{ is_wide ? 'wide_keys' : '' }}">
        <tbody>
          {% for commit in context.git_info.history %}
            <tr class="object_row">
              <td class="kv_key medium"><a href="{{ commit.commit_url }}"><code>{{ commit.hash_short }}</code></a></td>
              <td class="kv_value light">{{ commit.subject }}</td>
              <td class="minimal light"><code class="insertions">{{ commit.summary[0] }}</code></td>
              <td class="minimal connected_left light"><code class="deletions">{{ commit.summary[1] }}</code></td>
              <td class="minimal light">{{ commit.timestamp|format_datetime(pattern='y-MM-dd') }}</td>
            </tr>
          {% endfor %}
          <tr class="object_row">
            <td class="kv_key medium text_center" colspan="5"><a href="{{ context.git_info.repo_url }}" target="_blank">View all {{ context.git_info.count }} commits</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
