{# TODO: CLEANUP #}
<script type="text/javascript" src="{{ default_theme_url }}/scripts/register.js"></script>
<form action="{{ scripturl }}?action=profile;area=authentication;save" method="post" accept-charset="{{ context.character_set }}" name="creator" id="creator" enctype="multipart/form-data">
  <div class="cat_bar">
    <h3 class="catbg">
      <span class="ie6_header floatleft"><img src="{{ images_url }}/icons/profile_sm.gif" alt="" class="icon" />{{ txt.authentication }}</span>
    </h3>
  </div>
  <p class="windowbg description">{{ txt.change_authentication }}</p>
  <div class="windowbg2">
    <div class="content">
      <dl>
        <dt>
          <input type="radio" onclick="updateAuthMethod();" name="authenticate" value="openid" id="auth_openid" {% if context.auth_method == 'openid' %}checked="checked"{% endif %} class="input_radio" /><label for="auth_openid"><strong>{{ txt.authenticate_openid }}</strong></label>&nbsp;<em><a href="{{ scripturl }}?action=helpadmin;help=register_openid" onclick="return reqWin(this.href);" class="help">(?)</a></em><br />
          <input type="radio" onclick="updateAuthMethod();" name="authenticate" value="passwd" id="auth_pass" {% if context.auth_method == 'password' %}checked="checked"{% endif %} class="input_radio" /><label for="auth_pass"><strong>{{ txt.authenticate_password }}</strong></label>
        </dt>
        <dd>
          <dl id="auth_openid_div">
            <dt>
              <em>{{ txt.authenticate_openid_url }}:</em>
            </dt>
            <dd>
              <input type="text" name="openid_identifier" id="openid_url" size="30" tabindex="{{ context.tabindex }}" value="{{ context.member.openid_uri }}" class="openid_login" />
            </dd>
          </dl>
          <dl id="auth_pass_div">
            <dt>
              <em>{{ txt.choose_pass }}:</em>
            </dt>
            <dd>
              <input type="password" name="passwrd1" id="smf_autov_pwmain" size="30" tabindex="{{ context.tabindex }}" class="input_password" />
              <span id="smf_autov_pwmain_div" style="display: none;"><img id="smf_autov_pwmain_img" src="{{ images_url }}/icons/field_invalid.gif" alt="*" /></span>
            </dd>
            <dt>
              <em>{{ txt.verify_pass }}:</em>
            </dt>
            <dd>
              <input type="password" name="passwrd2" id="smf_autov_pwverify" size="30" tabindex="{{ context.tabindex }}" class="input_password" />
              <span id="smf_autov_pwverify_div" style="display: none;"><img id="smf_autov_pwverify_img" src="{{ images_url }}/icons/field_valid.gif" alt="*" /></span>
            </dd>
          </dl>
        </dd>
      </dl>
      {% if context.require_password %}
      <hr width="100%" size="1" class="hrcolor clear" />
      <dl>
        <dt>
          <strong{% if context.modify_error.bad_password or context.modify_error.no_password %} class="error"{% endif %}>{{ txt.current_password }}: </strong><br />
          <span class="smalltext">{{ txt['required_security_reasons'] }}</span>
        </dt>
        <dd>
          <input type="password" name="oldpasswrd" size="20" style="margin-right: 4ex;" class="input_password" />
        </dd>
      </dl>
      <div class="righttext">
        <input type="hidden" name="{{ context['session_var'] }}" value="{{ context['session_id'] }}" />
        <input type="hidden" name="u" value="{{ context['id_member'] }}" />
        <input type="hidden" name="sa" value="{{ context['menu_item_selected'] }}" />
        <input type="submit" value="{{ txt['change_profile'] }}" />
      </div>
    </div>
  </div>
</form>
<script type="text/javascript">
var regTextStrings = {
  "password_short": "{{ txt['registration_password_short'] }}",
  "password_reserved": "{{ txt['registration_password_reserved'] }}",
  "password_numbercase": "{{ txt['registration_password_numbercase'] }}",
  "password_no_match": "{{ txt['registration_password_no_match'] }}",
  "password_valid": "{{ txt['registration_password_valid'] }}"
};
var verificationHandle = new smfRegister("creator", {{ empty(modSettings['password_strength']) ? 0 : modSettings['password_strength'] }}, regTextStrings);
var currentAuthMethod = 'passwd';
function updateAuthMethod()
{
  // What authentication method is being used?
  if (!document.getElementById('auth_openid') || !document.getElementById('auth_openid').checked)
    currentAuthMethod = 'passwd';
  else
    currentAuthMethod = 'openid';

  // No openID?
  if (!document.getElementById('auth_openid'))
    return true;

  document.forms.creator.openid_url.disabled = currentAuthMethod == 'openid' ? false : true;
  document.forms.creator.smf_autov_pwmain.disabled = currentAuthMethod == 'passwd' ? false : true;
  document.forms.creator.smf_autov_pwverify.disabled = currentAuthMethod == 'passwd' ? false : true;
  document.getElementById('smf_autov_pwmain_div').style.display = currentAuthMethod == 'passwd' ? '' : 'none';
  document.getElementById('smf_autov_pwverify_div').style.display = currentAuthMethod == 'passwd' ? '' : 'none';

  if (currentAuthMethod == 'passwd')
  {
    verificationHandle.refreshMainPassword();
    verificationHandle.refreshVerifyPassword();
    document.forms.creator.openid_url.style.backgroundColor = '';
    document.getElementById("auth_openid_div").style.display = "none";
    document.getElementById("auth_pass_div").style.display = "";
  }
  else
  {
    document.forms.creator.smf_autov_pwmain.style.backgroundColor = '';
    document.forms.creator.smf_autov_pwverify.style.backgroundColor = '';
    document.forms.creator.openid_url.style.backgroundColor = '#FCE184';
    document.getElementById("auth_openid_div").style.display = "";
    document.getElementById("auth_pass_div").style.display = "none";
  }
}
updateAuthMethod();
</script>
