<dt>
  <strong id="personal_picture">{{ txt.personal_picture|raw }}</strong>
  <input type="radio" onclick="swap_avatar(this); return true;" name="avatar_choice" id="avatar_choice_none" value="none" {% if context.member.avatar.choice == 'none' %}checked="checked"{% endif %} class="input_radio" /><label for="avatar_choice_none"{% if modify_error.bad_avatar is defined %} class="error"{% endif %}>{{ txt.no_avatar|raw }}</label><br />
  {% if context.member.avatar.allow_server_stored is not empty %}
    <input type="radio" onclick="swap_avatar(this); return true;" name="avatar_choice" id="avatar_choice_server_stored" value="server_stored" {% if context.member.avatar.choice == 'server_stored' %}checked="checked"{% endif %} class="input_radio" /><label for="avatar_choice_server_stored"{% if modify_error.bad_avatar is defined %} class="error"{% endif %}>{{ txt.choose_avatar_gallery|raw }}</label><br />
  {% endif %}
  {% if context.member.avatar.allow_external is not empty %}
    <input type="radio" onclick="swap_avatar(this); return true;" name="avatar_choice" id="avatar_choice_external" value="external" {% if context.member.avatar.choice == 'external' %}checked="checked"{% endif %} class="input_radio" /><label for="avatar_choice_external"{% if modify_error.bad_avatar is defined %} class="error"{% endif %}>{{ txt.my_own_pic|raw }}</label><br />
  {% endif %}
  {% if context.member.avatar.allow_upload is not empty %}
    <input type="radio" onclick="swap_avatar(this); return true;" name="avatar_choice" id="avatar_choice_upload" value="upload" {% if context.member.avatar.choice == 'upload' %}checked="checked"{% endif %} class="input_radio" /><label for="avatar_choice_upload"{% if modify_error.bad_avatar is defined %} class="error"{% endif %}>{{ txt.avatar_will_upload|raw }}</label>
  {% endif %}
</dt>
<dd>
  {% if context.member.avatar.allow_server_stored %}
    <div id="avatar_server_stored">
      <div>
        <select name="cat" id="cat" size="10" onchange="changeSel('');" onfocus="selectRadioByName(document.forms.creator.avatar_choice, 'server_stored');">
          {% for avatar in context.avatars %}
            <option value="{{ avatar.filename ~ (avatar.is_dir ? '/' : '') }}" {% if avatar.checked %}selected="selected"{% endif %}>{{ avatar.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <select name="file" id="file" size="10" style="display: none;" onchange="showAvatar()" onfocus="selectRadioByName(document.forms.creator.avatar_choice, 'server_stored');" disabled="disabled"><option></option></select>
      </div>
      <div>
        <img name="avatar" id="avatar" src="{{ context.member.avatar.allow_external and context.member.avatar.choice == 'external' ? context.member.avatar.external : modSettings.avatar_url ~ '/blank.gif' }}" alt="Do Nothing" />
      </div>
      <script type="text/javascript">
        var files = ["{{ context.avatar_list | join('", "') }}"];
        var avatar = document.getElementById("avatar");
        var cat = document.getElementById("cat");
        var selavatar = "{{ context.avatar_selected }}";
        var avatardir = "{{ modSettings.avatar_url }}/";
        var size = avatar.alt.substr(3, 2) + " " + avatar.alt.substr(0, 2) + String.fromCharCode(117, 98, 116);
        var file = document.getElementById("file");

        if (avatar.src.indexOf("blank.gif") > -1) {
          changeSel(selavatar);
        }
        else {
          previewExternalAvatar(avatar.src)
        }

        function changeSel(selected)
        {
          if (cat.selectedIndex == -1)
            return;

          if (cat.options[cat.selectedIndex].value.indexOf("/") > 0)
          {
            var i;
            var count = 0;

            file.style.display = "inline";
            file.disabled = false;

            for (i = file.length; i >= 0; i = i - 1)
              file.options[i] = null;

            for (i = 0; i < files.length; i++)
              if (files[i].indexOf(cat.options[cat.selectedIndex].value) == 0)
              {
                var filename = files[i].substr(files[i].indexOf("/") + 1);
                var showFilename = filename.substr(0, filename.lastIndexOf("."));
                showFilename = showFilename.replace(/[_]/g, " ");

                file.options[count] = new Option(showFilename, files[i]);

                if (filename == selected)
                {
                  if (file.options.defaultSelected)
                    file.options[count].defaultSelected = true;
                  else
                    file.options[count].selected = true;
                }

                count++;
              }

            if (file.selectedIndex == -1 && file.options[0])
              file.options[0].selected = true;

            showAvatar();
          }
          else
          {
            file.style.display = "none";
            file.disabled = true;
            document.getElementById("avatar").src = avatardir + cat.options[cat.selectedIndex].value;
            document.getElementById("avatar").style.width = "";
            document.getElementById("avatar").style.height = "";
          }
        }

        function showAvatar()
        {
          if (file.selectedIndex == -1)
            return;

          document.getElementById("avatar").src = avatardir + file.options[file.selectedIndex].value;
          document.getElementById("avatar").alt = file.options[file.selectedIndex].text;
          document.getElementById("avatar").alt += file.options[file.selectedIndex].text == size ? "!" : "";
          document.getElementById("avatar").style.width = "";
          document.getElementById("avatar").style.height = "";
        }

        function previewExternalAvatar(src)
        {
          if (!document.getElementById("avatar"))
            return;

          var maxHeight = '{{ modSettings.avatar_max_height_external ? modSettings.avatar_max_height_external : 0 }}';
          var maxWidth = '{{ modSettings.avatar_max_width_external ? modSettings.avatar_max_width_external : 0 }}';
          var tempImage = new Image();

          tempImage.src = src;
          if (maxWidth != 0 && tempImage.width > maxWidth)
          {
            document.getElementById("avatar").style.height = parseInt((maxWidth * tempImage.height) / tempImage.width) + "px";
            document.getElementById("avatar").style.width = maxWidth + "px";
          }
          else if (maxHeight != 0 && tempImage.height > maxHeight)
          {
            document.getElementById("avatar").style.width = parseInt((maxHeight * tempImage.width) / tempImage.height) + "px";
            document.getElementById("avatar").style.height = maxHeight + "px";
          }
          document.getElementById("avatar").src = src;
        }
      </script>
    </div>
  {% endif %}

  {% if context.member.avatar.allow_external is not empty %}
    <div id="avatar_external">
      <div class="smalltext">{{ txt.avatar_by_url|raw }}</div>
      <input type="text" name="userpicpersonal" size="45" value="{{ context.member.avatar.external_original }}" onfocus="selectRadioByName(document.forms.creator.avatar_choice, 'external');" onchange="if (typeof(previewExternalAvatar) != 'undefined') previewExternalAvatar(this.value);" />
    </div>
  {% endif %}

  {% if context.member.avatar.allow_upload is not empty %}
    <div id="avatar_upload">
      <input type="file" size="44" name="attachment" value="" onfocus="selectRadioByName(document.forms.creator.avatar_choice, 'upload');" class="input_file" />
      {% if context.member.avatar.id_attach > 0 %}
        <br /><br /><img src="{{ context.member.avatar.href }}{{ (context.member.avatar.href is not empty and context.member.avatar.href|slice({'?': 1}) == '?') ? '?' : '&amp;' }}time={{ date('U') }}" alt="" /><input type="hidden" name="id_attach" value="{{ context.member.avatar.id_attach }}" />
      {% endif %}
    </div>
  {% endif %}

  <script type="text/javascript">
    {% if context.member.avatar.allow_server_stored is not empty %}
      document.getElementById("avatar_server_stored").style.display = "{{ (context.member.avatar.choice == 'server_stored' ? '' : 'none') }}";
    {% endif %}

    {% if context.member.avatar.allow_external is not empty %}
      document.getElementById("avatar_external").style.display = "{{ (context.member.avatar.choice == 'external' ? '' : 'none') }}";
    {% endif %}

    {% if context.member.avatar.allow_upload is not empty %}
      document.getElementById("avatar_upload").style.display = "{{ (context.member.avatar.choice == 'upload' ? '' : 'none') }}";
    {% endif %}

    function swap_avatar(type)
    {
      switch(type.id)
      {
        case "avatar_choice_server_stored":
          {% if context.member.avatar.allow_server_stored is not empty %}
            document.getElementById("avatar_server_stored").style.display = "";
          {% endif %}

          {% if context.member.avatar.allow_external is not empty %}
            document.getElementById("avatar_external").style.display = "none";
          {% endif %}

          {% if context.member.avatar.allow_upload is not empty %}
            document.getElementById("avatar_upload").style.display = "none";
          {% endif %}
          break;

        case "avatar_choice_external":
          {% if context.member.avatar.allow_server_stored is not empty %}
            document.getElementById("avatar_server_stored").style.display = "none";
          {% endif %}

          {% if context.member.avatar.allow_external is not empty %}
            document.getElementById("avatar_external").style.display = "";
          {% endif %}

          {% if context.member.avatar.allow_upload is not empty %}
            document.getElementById("avatar_upload").style.display = "none";
          {% endif %}
          break;

        case "avatar_choice_upload":
          {% if context.member.avatar.allow_server_stored is not empty %}
            document.getElementById("avatar_server_stored").style.display = "none";
          {% endif %}

          {% if context.member.avatar.allow_external is not empty %}
            document.getElementById("avatar_external").style.display = "none";
          {% endif %}

          {% if context.member.avatar.allow_upload is not empty %}
            document.getElementById("avatar_upload").style.display = "";
          {% endif %}
          break;

        case "avatar_choice_none":
          {% if member.avatar.allow_server_stored is not empty %}
            document.getElementById("avatar_server_stored").style.display = "none";
          {% endif %}
          {% if member.avatar.allow_external is not empty %}
            document.getElementById("avatar_external").style.display = "none";
          {% endif %}
          {% if member.avatar.allow_upload is not empty %}
            document.getElementById("avatar_upload").style.display = "none";
          {% endif %}
          break;
      }
    }
  </script>
</dd>
