{% set content %}
  {% if context.in_progress %}
    {# Displayed when the announcement is currently in progress. #}
    <div class="blue_component_light blue_component_section blue_component_primary">
      <div class="post_text post_line_height">
        <p>{{ txt['announce_sending'] }} <a href="{{ scripturl }}?topic={{ context.current_topic }}.0" target="_blank">{{ context.topic_subject }}</a>.</p>
        <p><strong>{{ context.percentage_done }}% {{ txt['announce_done'] }}</strong></p>
      </div>
    </div>
    <div class="blue_component_section blue_component_dark">
      <div id="confirm_buttons">
        <input type="submit" name="b" value="{{ txt['announce_continue'] }}" />
        <input type="hidden" name="{{ context['session_var'] }}" value="{{ context['session_id'] }}" />
        <input type="hidden" name="topic" value="{{ context['current_topic'] }}" />
        <input type="hidden" name="move" value="{{ context['move'] }}" />
        <input type="hidden" name="goback" value="{{ context['go_back'] }}" />
        <input type="hidden" name="start" value="{{ context['start'] }}" />
        <input type="hidden" name="membergroups" value="{{ context['membergroups'] }}" />
      </div>
      <script>
        var countdown = 2;
        doAutoSubmit();

        function doAutoSubmit()
        {
          if (countdown == 0)
            document.forms.autoSubmit.submit();
          else if (countdown == -1)
            return;

          document.forms.autoSubmit.b.value = "{{ txt.announce_continue }} (" + countdown + ")";
          countdown--;

          setTimeout("doAutoSubmit();", 1000);
        }
      </script>
    </div>
  {% else %}
    {# The regular announcement form. #}
    <div class="blue_component_light blue_component_section blue_component_primary">
      <div class="post_text post_line_height">
        {{ txt['announce_desc'] }}
        <ul>
          {% for group in context['groups'] %}
            <li>
              <label>
                <input type="checkbox" name="who[{{ group['id'] }}]" id="who_{{ group['id'] }}" value="{{ group['id'] }}" checked="checked" /> {{ group['name'] }}
              </label>
              <em>({{ group['member_count'] }})</em>
            </li>
          {% endfor %}
          <li>
            <label>
              <input type="checkbox" id="checkall" class="input_check" onclick="invertAll(this, this.form);" checked="checked" />
              <em>{{ txt['check_all'] }}</em>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="blue_component_section blue_component_dark">
      <div id="confirm_buttons">
        <input type="submit" value="{{ txt['post'] }}" />
        <input type="hidden" name="{{ context['session_var'] }}" value="{{ context['session_id'] }}" />
        <input type="hidden" name="topic" value="{{ context['current_topic'] }}" />
        <input type="hidden" name="move" value="{{ context['move'] }}" />
        <input type="hidden" name="goback" value="{{ context['go_back'] }}" />
      </div>
    </div>
  {% endif %}
{% endset %}

<form action="{{ scripturl }}?action=announce;sa=send" method="post" accept-charset="{{ context.character_set }}" name="autoSubmit" id="autoSubmit">
  <div class="object_form login_form object_list">
    <div class="blue_component">
      <div class="blue_component_header">
        <h3 class="blue_component_title">{{ context.in_progress ? 'Announcement in progress' : txt['announce_title'] }}</h3>
      </div>
      <div class="blue_component_medium object_list_frame">
        {{ content|raw }}
      </div>
    </div>
  </div>
</form>
