{% set general_stats_rows = [
  {
    key: txt.statPanel_total_time_online,
    value: context.time_logged_in,
  },
  {
    key: txt.statPanel_total_posts,
    value: context.num_posts ~ ' ' ~ txt.statPanel_posts,
  },
  {
    key: txt.statPanel_total_topics,
    value: context.num_topics ~ ' ' ~ txt.statPanel_topics,
  },
  {
    key: txt.statPanel_users_polls,
    value: context.num_polls ~ ' ' ~ txt.statPanel_polls,
  },
  {
    key: txt.statPanel_users_votes,
    value: context.num_votes ~ ' ' ~ txt.statPanel_votes,
  },
] %}


{% include 'components/component_key_value.twig' with {title: txt.statPanel_generalStats ~ ' - ' ~ (context.member.name ?? context.member.username), rows: general_stats_rows, is_wide: true} %}

{% set chart_items = [
  {
    title: txt.statPanel_topBoards,
    boards: context.popular_boards,
  },
  {
    title: txt.statPanel_topBoardsActivity,
    boards: context.board_activity,
  },
] %}
{#


[
  {
    "hour": 0,
    "hour_format": "12 am",
    "posts": "341",
    "posts_percent": 8,
    "is_last": false,
    "relative_percent": 82
  },
  {
    "hour": 1,
    "hour_format": "1 am",
    "posts": "213",
    "posts_percent": 5,
    "is_last": false,
    "relative_percent": 51
  },
  
#}

<div class="component_grid">
  <div class="grid_item">
    <div class="object_list stats_table">
      <div class="blue_component">
        <div class="blue_component_header">
          <h3 class="blue_component_title">Relative activity by time of day</h3>
        </div>
        <div class="object_list_frame">
          <table class="object_table key_value_table wide_keys">
            <tbody>
              {% set total_posts = 0 %}
              {% set most_posts = 0 %}
              {% for hour in context.posts_by_time %}
                {% set total_posts = total_posts + hour.posts %}
                {% set most_posts = max(most_posts, hour.posts) %}
              {% endfor %}
              {% for hour in context.posts_by_time %}
                {% set posts_percentage = (hour.posts / total_posts) * 100 %}
                {% set posts_rel_percentage = (hour.posts / most_posts) * 100 %}
                <tr class="object_row bar_item">
                  <td class="kv_key medium">
                    <span class="time_clock">{{ get_clock_emoji(hour.hour) }}</span>
                    <span class="time_text">{{ hour.hour_format }}</span>
                  </td>
                  <td class="bar_container light">
                    {% if hour.posts %}
                      <div class="bar_wrapper">
                        <div class="bar" style="width: {{ posts_rel_percentage }}%;"></div>
                      </div>
                    {% endif %}
                  </td>
                  {% if hour.posts %}
                    <td class="minimal light connected_right pie_chart">
                      {{ get_pie_chart(posts_percentage)|raw }}
                    </td>
                    <td class="minimal light connected_left text_right" title="{{ hour.posts }} {{ hour.posts == 1 ? txt.post : txt.posts }}">
                      {{ posts_percentage|number_format(2) }}%
                    </td>
                  {% else %}
                    <td colspan="2" class="minimal light text_center">
                      —
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="grid_item">
    {% for item in chart_items %}
      {% if item.boards %}
        <div class="object_list stats_table">
          <div class="blue_component">
            <div class="blue_component_header">
              <h3 class="blue_component_title">{{ item.title }}</h3>
            </div>
            <div class="object_list_frame">
              <table class="object_table key_value_table wide_keys">
                <tbody>
                  {% for board in item.boards %}
                    <tr class="object_row">
                      {% set percent = board.posts_percent %}
                      <td class="kv_key medium">{{ board.link|raw }}</td>
                      <td class="light minimal connected_right pie_chart">
                        {{ get_pie_chart(percent)|raw }}
                      </td>
                      <td class="light minimal connected_left percentage_total">
                        <span>{{ percent|number_format(2) }}%</span>
                      </td>
                      <td class="light">
                        {{ board.posts }} {{ board.posts == 1 ? txt.post : txt.posts }}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
