{% set last_ip_key %}
  {{ txt.most_recent_ip }}
  {% if context.last_ip2 %}
    <a href="{{ scripturl }}?action=helpadmin;help=whytwoip" onclick="return reqWin(this.href);">
      {{ txt.why_two_ip_address }}
    </a>
  {% endif %}
{% endset %}
{% set last_ip_value %}
  <a href="{{ scripturl }}?action=profile;area=tracking;sa=ip;searchip={{ context.last_ip }};u={{ context.member.id }}">{{ context.last_ip }}</a>
  {% if context.last_ip2 %}
    <a href="{{ scripturl }}?action=profile;area=tracking;sa=ip;searchip={{ context.last_ip2 }};u={{ context.member.id }}">{{ context.last_ip2 }}</a>
  {% endif %}
{% endset %}

{% set ip_rows = [
  {
    key: last_ip_key,
    value: last_ip_value,
    vertical_align: 'top',
  },
  {
    key: txt.ips_in_messages,
    value: context.ips ? context.ips|join(', ') : txt.none,
    vertical_align: 'top',
  },
  {
    key: txt.ips_in_errors,
    value: context.ips ? context.error_ips|join(', ') : txt.none,
    vertical_align: 'top',
  },
  {
    key: txt.members_in_range,
    value: context.members_in_range|length > 0 ? context.members_in_range|join(', ') : txt.none,
    vertical_align: 'top',
  },
] %}

{% include 'components/generic/component_key_value.twig' with {title: txt.view_ips_by ~ ' ' ~ (context.member.name ?? context.member.username), rows: ip_rows, is_wide: true} %}
{% include 'pages/objects/generic_list.twig' with {cur_list: context.track_user_list, list_id: 'track_user_list'} %}
