<form action="{{ scripturl }}?action=reminder;sa=picktype" method="post" accept-charset="{{ context.character_set }}">
  <input type="hidden" name="{{ context.session_var }}" value="{{ context.session_id }}" />
  <div class="object_form login_form type_simple object_list">
    <div class="blue_component">
      <div class="blue_component_header">
        <h3 class="blue_component_title">
          {{ txt.authentication_reminder }}
        </h3>
      </div>
      <div class="blue_component_medium object_list_frame">
        <table class="object_table">
          <tbody>

            <tr class="object_row">
              <th class="minimal">
                {{ txt.user_email }}
              </th>
              <td>
                <input type="text" name="user" size="30" />
                <div class="description">If you've forgotten your login details, don't worry, they can be retrieved. To start this process please enter your username or email address.</div>
              </td>
            </tr>

            <tr class="object_row dark">
              <th class="minimal"></th>
              <td>
                <button type="submit"><strong>{{ txt.reminder_continue }}</strong></button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>
