<form action="{{ scripturl }}?action=reminder;sa=secret2" name="creator" id="creator" method="post" accept-charset="{{ context.character_set }}">
  <div class="blue_component">
    <div class="blue_component_header">
      <h3 class="blue_component_title">
        {{ txt.authentication_reminder }}
        <span class="subtitle">
          {{ context.account_type == 'password' ? txt.enter_new_password : txt.openid_secret_reminder }}
        </span>
      </h3>
    </div>
      <div class="blue_component_medium object_list_frame">
        <table class="object_table">
          <tbody>

            <tr class="object_row">
              <th class="minimal">
                {{ txt.secret_question }}
              </th>
              <td>
                {{ context.secret_question }}
              </td>
            </tr>

            <tr class="object_row">
              <th class="minimal">
                {{ txt.secret_answer }}
              </th>
              <td>
                <input type="text" name="secret_answer" size="22" />
              </td>
            </tr>

            {% if context['account_type'] == 'password' %}
              <tr class="object_row">
                <th class="minimal">
                  {{ txt.choose_pass }}
                </th>
                <td>
                  <input type="password" name="passwrd1" id="smf_autov_pwmain" size="22" class="input_password" />
                  <span id="smf_autov_pwmain_div" style="display: none;">
                    <img id="smf_autov_pwmain_img" src="{{ images_url }}/icons/field_invalid.gif" alt="*" />
                  </span>
                </td>
              </tr>

              <tr class="object_row">
                <th class="minimal">
                  {{ txt.verify_pass }}
                </th>
                <td>
                  <input type="password" name="passwrd2" id="smf_autov_pwverify" size="22" class="input_password" />
                  <span id="smf_autov_pwverify_div" style="display: none;">
                    <img id="smf_autov_pwverify_div" src="{{ images_url }}/icons/field_valid.gif" alt="*" />
                  </span>
                </td>
              </tr>
            {% endif %}

            <tr class="object_row dark">
              <th class="minimal"></th>
              <td>
                <button><strong>{{ txt.save }}</strong></button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
  </div>
  <input type="hidden" name="uid" value="{{ context.remind_user }}" />
  <input type="hidden" name="{{ context.session_var }}" value="{{ context.session_id }}" />
  <script src="{{ default_theme_url }}/scripts/register.js"></script>

  {% if context['account_type'] == 'password' %}
    <script>
      {% include 'auxiliary/script_object.twig' with {
        name: 'regTextStrings',
        data: {
          password_short: txt.registration_password_short,
          password_reserved: txt.registration_password_reserved,
          password_numbercase: txt.registration_password_numbercase,
          password_no_match: txt.registration_password_no_match,
          password_valid: txt.registration_password_valid
        }
      } %}
      const verificationHandle = new smfRegister('creator', '{{ modSettings.password_strength ? modSettings.password_strength : 0 }}', 'regTextStrings');
    </script>
  {% endif %}
</form>
