<div class="object_form search_form type_advanced object_list">
  <div class="blue_component">
    <div class="blue_component_header">
      <h3 class="blue_component_title">{{ txt.pm_search_title }}</h3>
    </div>
    <div class="blue_component_medium object_list_frame">
      <input type="hidden" name="advanced" value="1" />
      <table class="object_table">
        <tbody>

          <tr class="object_row">
            <th class="minimal">{{ txt.pm_search_text }}:</th>
            <td>
              <div class="form_input_row">
                <div class="input_item_main">
                  <input type="text" name="search" size="40" {{ context.search_params.search ? 'value="' ~ context.search_params.search ~ '"' }} maxlength={{ context.search_string_limit }} />
                  <script type="text/javascript">
                    function initSearch() {
                      if (document.forms.searchform.search.value.indexOf("%u") != -1)
                        document.forms.searchform.search.value = unescape(document.forms.searchform.search.value);
                    }
                    createEventListener(window);
                    window.addEventListener("load", initSearch, false);
                  </script>
                </div>
                <div class="input_item">
                  <select name="searchtype">
                    <option value="1" {{ context.search_params.searchtype ? 'selected="selected"' }}>{{ txt.pm_search_match_all }}</option>
                    <option value="2" {{ not context.search_params.searchtype ? 'selected="selected"' }}>{{ txt.pm_search_match_any }}</option>
                  </select>
                </div>
              </div>
            </td>
          </tr>

          <tr class="object_row">
            <th class="minimal">{{ txt.pm_search_user }}:</th>
            <td>
              <div class="form_input_row">
                <div class="input_item_main">
                  <input type="text" name="userspec" value="{{ context.search_params.userspec|default('*') }}" size="40" />
                </div>
              </div>
            </td>
          </tr>

          <tr class="object_row">
            <th class="minimal">{{ txt.pm_search_order }}:</th>
            <td>
              <select id="sort" name="sort">
                <option value="relevance|desc">{{ txt['pm_search_orderby_relevant_first'] }}</option>
                <option value="id_pm|desc">{{ txt['pm_search_orderby_recent_first'] }}</option>
                <option value="id_pm|asc">{{ txt['pm_search_orderby_old_first'] }}</option>
              </select>
            </td>
          </tr>

          <tr class="object_row">
            <th class="minimal">{{ txt.pm_search_options }}:</th>
            <td>
              <ul class="object_row_list">
                <li>
                  <label for="show_complete">
                    <input type="checkbox" name="show_complete" id="show_complete" value="1" {{ context.search_params.show_complete ? 'checked="checked"' }} />
                    {{ txt['pm_search_show_complete'] }}
                  </label>
                </li>
                <li>
                  <label for="subject_only">
                    <input type="checkbox" name="subject_only" id="subject_only" value="1" {{ context.search_params.subject_only ? 'checked="checked"' }} />
                    {{ txt['pm_search_subject_only'] }}
                  </label>
                </li>
              </ul>
            </td>
          </tr>

          <tr class="object_row">
            <th class="minimal">{{ txt.pm_search_post_age }}:</th>
            <td>
              <label>
                {{ txt.pm_search_between }}
                <input type="text" name="minage" value="{{ context.search_params.minage|default('0') }}" size="5" maxlength="5" />
              </label>
              <label>
                {{ txt.pm_search_between_and }}
                <input type="text" name="maxage" value="{{ context.search_params.maxage|default('9999') }}" size="5" maxlength="5" />
                {{ txt.pm_search_between_days }}
              </label>
            </td>
          </tr>
          
          {% if context.currently_using_labels %}
            <tr class="object_row">
              <th class="minimal">Labels:</th>
              <td>
                <ul>
                  <li>
                    <label for="check_all">
                      <input type="checkbox" name="all" id="check_all" value="" {% if context.check_all %}checked="checked"{% endif %} onclick="invertAll(this, this.form, 'searchlabel');" />
                      <strong>{{ txt['check_all'] }}</strong>
                    </label>
                  </li>
                  {% for label in context.search_labels %}
                    <li>
                      <label for="searchlabel_{{ label.id }}">
                        <input type="checkbox" id="searchlabel_{{ label.id }}" name="searchlabel[{{ label.id }}]" value="{{ label.id }}" {% if label.checked %}checked="checked"{% endif %} />
                        {{ label.name }}
                      </label>
                    </li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
          {% endif %}
          
          <tr class="object_row dark">
            <th class="minimal"></th>
            <td>
              <button type="submit"><strong>{{ txt.pm_search_go }}</strong></button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
