<!doctype html>
<html>
<head>
  <meta charset="{{ context.character_set }}">
  <title>{{ page_title|default(context.page_metadata.title_full)|default(context.page_title_html_safe) }}</title>

  {% if context.meta_keywords %}
    <meta name="keywords" content="{{ context.meta_keywords }}" />
  {% endif %}

  {% if context.robot_no_index %}
    <meta name="robots" content="noindex" />
  {% endif %}

  {% if context.canonical_url %}
    <link rel="canonical" href="{{ context.canonical_url }}" />
  {% endif %}

  {% include './head/og_tags.twig' %}
  {% include './head/favicon.twig' %}
  {% include './head/style_main.twig' %}
  {% include './head/style_pips.twig' %}
  {% include './head/script_main.twig' %}
  {% include './auxiliary/script_gw_header.twig' %}
  {% include './auxiliary/script_header.twig' %}

  <link rel="help" href="{{ scripturl }}?action=help" />
  <link rel="search" href="{{ scripturl }}?action=search" />
  <link rel="contents" href="{{ scripturl }}" />

  {# If RSS feeds are enabled, advertise the presence of one. #}
  {% if (modSettings.xmlnews_enable) and ((modSettings.allow_guestAccess) or (context.user.is_logged)) %}
    <link rel="alternate" type="application/rss+xml" title="{{ context.forum_name_html_safe }} - {{ txt.rss }}" href="{{ scripturl }}?type=rss;action=.xml" />
  {% endif %}

  {# If we're in a board, or a topic for that matter, the index will be the board's index. #}
  {% if context.current_board %}
    <link rel="index" href="{{ scripturl }}?board={{ context.current_board }}.0" />
  {% endif %}

  {# Remaining HTML headers, e.g. from mods. #}
  {{ context.html_headers|raw }}
</head>
<body>
