{% if buttons is defined and buttons %}
  {% if not strip_options is iterable %}
    {% set strip_options = [] %}
  {% endif %}

  <div class="buttonlist{{ direction is defined ? ' float' ~ direction : ''}}{{ not buttons ? ' style="display: none;"' : ''}}{{ strip_options.id is defined ? ' id="' ~ strip_options.id ~ '"': ''}}">
    <ul>
      {% for key, value in buttons %}
        <li>
          <a{{ value.id is defined ? ' id="button_strip_' ~ value.id ~ '"' : ''}} class="button_strip_{{ key }}{{ value.active is defined ? ' active' : ''}}" href="{{ value.url }}"{{ value.custom is defined ? ' ' ~ value.custom : ''}}>
            <span>{{ txt[value.text] }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
