{# TODO #}
{% if profile_fields %}
  {% for key, field in profile_fields %}
    {% if field.type == 'callback' %}
      {% if field._callback_result is defined %}
        {{ _callback_result }}
      {% endif %}
    {% else %}
      <dt>
        <strong{% if field.is_error %} style="color: red;"{% endif %}>{{ field.label }}:</strong>
        {% if field.subtext is not empty %}
          <span class="smalltext">{{ field.subtext }}</span>
        {% endif %}
      </dt>
      <dd>
        {% if field.preinput is not empty %}
          {{ field.preinput }}
        {% endif %}

        {% if field.type == 'label' %}
          {{ field.value }}
        {% elseif field.type in ['int', 'float', 'text', 'password'] %}
          <input type="{{ field.type == 'password' ? 'password' : 'text' }}" name="{{ key }}" id="{{ key }}" size="{{ field.size|default(30) }}" value="{{ field.value }}" tabindex="{{ context.tabindex }}" {{ field.input_attr|raw }} class="input_{{ field.type == 'password' ? 'password' : 'text' }}" />
        {% elseif field.type == 'check' %}
          <input type="hidden" name="{{ key }}" value="0" /><input type="checkbox" name="{{ key }}" id="{{ key }}" {% if field.value %}checked="checked"{% endif %} value="1" tabindex="{{ context.tabindex }}" {{ field.input_attr|raw }} />
        {% elseif field.type == 'select' %}
          <select name="{{ key }}" id="{{ key }}" tabindex="{{ context.tabindex }}">
            {% if field.options is defined %}
              {% if field.options is iterable %}
                {% for value, name in field.options %}
                  <option value="{{ value }}" {% if value == field.value %}selected="selected"{% endif %}>{{ name }}</option>
                {% endfor %}
              {% else %}
                {{ field.options|raw }}
              {% endif %}
            {% endif %}
          </select>
        {% endif %}

        {% if field.postinput is not empty %}
          {{ field.postinput }}
        {% endif %}
      </dd>
    {% endif %}
  {% endfor %}
{% endif %}
