{# Find the correct data based on whether we're displaying child forums or index forums. #}
{% set parent_board_id = child ? context_board_id : parent.id %}
{% set parent_boards = child ? context_boards : parent.boards %}
<div class="forum_list object_list {{ child ? 'is_child_forums' : ''}}">
  <div class="blue_component">
    <div class="forum_list_inner {{ child ? 'childboards' : '' }}" id="board_{{ parent_board_id }}{{ child ? '_childboards' : '' }}">
      <div class="object_list_frame">
        <table class="forum_table_list object_table">
          <thead>
            <tr>
              <th colspan="3" class="blue_component_header_cell forum_name_header">
                <h3 class="blue_component_header blue_component_title">
                  {% if child %}
                    {{ txt.parent_boards }}
                  {% else %}
                    {{ parent.name }}
                  {% endif %}
                </h3>
              </th>
              <th class="blue_component_header_cell last_post_header">
                <h3 class="blue_component_header blue_component_title">
                  {{ txt.last_post }}
                </h3>
              </th>
            </tr>
          </thead>
          <tbody id="board_{{ parent_board_id }}_children" class="content">
            {% for board in parent_boards %}
              {% include 'components/forum_row.twig' with {'board': board} %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
