{% set fields = [
  {
    label: txt.search_for,
    type: 'text',
    name: 'search',
    value_test: context.search_params.search,
    value: context.search_params.search,
    maxlength: context.search_string_limit,
    description_test: modSettings.search_simple_fulltext,
    description: txt.search_example,
  },
] %}

<div class="object_form search_form type_simple object_list">
  <div class="blue_component">
    <div class="blue_component_header">
      <h3 class="blue_component_title">{{ context.page_title }}</h3>
    </div>
    <div class="blue_component_medium object_list_frame">
      <input type="hidden" name="advanced" value="0" />
      <table class="object_table">
        <tbody>
          <tr class="object_row">
            <th class="minimal">{{ txt.subject }}:</th>
            <td>
              {% for field in fields %}
                <div class="field_{{ field.name }}">
                  <input type="{{ field.type }}" name="{{ field.name }}" {{ field.value_test ? 'value="' ~ field.value ~ '"' : '' }} maxlength={{ field.maxlength }} />
                  {% if field.description_test %}
                    <p class="input_description">{{ field.description }}</p>
                  {% endif %}
                </div>
              {% endfor %}
            </td>
          </tr>
          <tr class="object_row dark">
            <th class="minimal"></th>
            <td>
              <button><strong>Search</strong></button>
              {# TODO: make this tag include ;search=<text typed into search field> on click #}
              {#  onclick="this.href += \';search=\' + escape(document.forms.search_form.search.value);" #}
              <a href="{{ scripturl }}?action=search;advanced">{{ txt.search_advanced }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
