{% set display_action_buttons = display_action_buttons ?? true %}
{% set display_page_links = display_page_links ?? true %}

{# Whether to show "from" names with group color and pips. #}
{% set show_member_strip = true %}

{# Whether to show the "change view" button. Otherwise it's accessible only in the PM settings section. #}
{% set show_change_view = true %}

{% set label_arg = context.current_label_id != -1 ? ';l=' ~ context.current_label_id : '' %}
{% set sort_arg = ';f=' ~ context.folder ~ ';start=' ~ context.start %}

{# Whether we're viewing messages we sent or received. #}
{% set is_inbox = context.from_or_to == 'from' %}
{% set is_sentbox = context.from_or_to == 'to' %}
{% set is_label = context.current_label_id != -1 %}

{% if show_change_view %}
  {% set actions = {
    change_view: {
      text: txt.pm_change_view,
      url: scripturl ~ '?action=pm;view' ~ sort_arg ~ ';sort=' ~ context.sort_by ~ (context.sort_direction != 'up' ? ';desc') ~ label_arg
    }
  } %}
{% endif %}

{% if display_page_links %}
  <div class="forum_page_section">
    {% include 'components/forum_page_links.twig' with {'is_posts_index': true} %}
  </div>
{% endif %}

<div class="subject_list topic_list object_list">
  <div class="blue_component">
    <div class="topic_list_inner">
      <div class="blue_component_header">
        <h3 class="blue_component_title">
          {% if title %}
            {{ title }}
          {% else %}
            {% if is_inbox %}
              {% if is_label %}
                Private Messages: viewing messages labeled "{{ context.current_label }}"
              {% else %}
                Private Messages
              {% endif %}
            {% else %}
              Sent Private Messages
            {% endif %}
          {% endif %}
        </h3>
        <div class="blue_component_buttons">
          {% include 'components/forum_button_strip.twig' with {'buttons': actions} %}
        </div>
      </div>
      <div class="object_list_frame">
        <table class="message_table_list object_table">
          <thead>
            <tr class="object_row">
              <th class="text_center quick_mod minimal no_padding">
                <input type="checkbox" onclick="invertAll(this, this.form);" class="input_check" />
              </th>
              <th class="text_left subject {{ context.sort_by == 'subject' ? 'active_sort_' ~ context.sort_direction }}">
                <a href="{{ scripturl }}?action=pm{{ sort_arg }};sort=subject{{ context.sort_by == 'subject' and context.sort_direction == 'up' ? ';desc' }}{{ label_arg }}">
                  Subject
                </a>
              </th>
              {% if context.has_labels %}
                <th class="text_center label">
                  <span>Label</span>
                </th>
              {% endif %}
              <th class="text_center name {{ context.sort_by == 'name' ? 'active_sort_' ~ context.sort_direction }}">
                <a href="{{ scripturl }}?action=pm{{ sort_arg }};sort=name{{ context.sort_by == 'name' and context.sort_direction == 'up' ? ';desc' }}{{ label_arg }}">
                  {% if is_inbox %}
                    From
                  {% else %}
                    Sent to
                  {% endif %}
                </a>
              </th>
              <th class="text_left date {{ context.sort_by == 'date' ? 'active_sort_' ~ context.sort_direction }}">
                <a href="{{ scripturl }}?action=pm{{ sort_arg }};sort=date{{ context.sort_by == 'date' and context.sort_direction == 'up' ? ';desc' }}{{ label_arg }}">
                  Date
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            {% if not messages|length %}
              <tr class="object_row">
                <td colspan="999" class="text_center status_message light">
                  <strong>
                    {% if is_search_results %}
                      {{ txt.pm_search_none_found|capitalize }}.
                    {% else %}
                      {{ txt.msg_alert_none }}
                    {% endif %}
                  </strong>
                </td>
              </tr>
            {% endif %}
            {% for message in messages %}
              {% if context.from_or_to == 'from' %}
                {% set recipients = message.member.link %}
              {% else %}
                {% set recipients = message.recipients.to|join(', ') %}
              {% endif %}
              {# Store message labels as JSON. #}
              {% set labels = {} %}
              {% for id, label in message.labels %}
                {% set labels = labels|pmerge({(id): label.name}) %}
              {% endfor %}
              {% set is_currently_viewing = context.current_pm == message.id %}
              <script>
              currentLabels[{{ message.id }}] = {{ labels|json_encode(constant('JSON_FORCE_OBJECT'))|raw }};
              </script>
              <tr class="object_row topic_row light {{ is_currently_viewing ? 'is_being_viewed' }} {{ message.is_unread ? 'is_unread' }} {{ message.is_replied_to ? 'is_replied_to' }}">
                <td>
                  <input type="checkbox" name="pms[]" id="deletelisting{{ message.id }}" value="{{ message.id }}" {{ message.is_selected ? 'checked="checked"' }} onclick="if (document.getElementById('deletedisplay{{ message.id }}')) document.getElementById('deletedisplay{{ message.id }}').checked = this.checked;" class="input_check" />
                </td>
                <td class="subject">
                  <a href="{{ scripturl }}?action=pm;pmid={{ message.id }};kstart;f={{ context.folder }};start={{ context.start }};sort={{ context.sort_by }}{{ context.sort_direction != 'up' ? ';desc' }}{{ context.current_label_id != -1 ? ';l=' ~ context.current_label_id }}#msg{{ message.id }}" class="link">
                    {{ message.subject|raw }}
                  </a>
                </td>
                {% if context.has_labels %}
                  <td class="text_center labels">
                    {% if message.labels|length > 1 %}
                      {% for id, label in message.labels %}
                        {% if id > -1 %}
                          {% include 'atoms/message_label.twig' with {name: label.name, id: id} %}
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  </td>
                {% endif %}
                <td class="text_center">
                  {% if show_member_strip %}
                    {% include 'atoms/member_strip.twig' with {member: message.member, display_pips: false} %}
                  {% else %}  
                    {{ recipients|raw }}
                  {% endif %}
                </td>
                <td>
                  {{ message.time|raw }}
                </td>
              </tr>
            {% endfor %}
            {% if display_action_buttons %}
              <tr class="object_row blue">
                <td colspan="{{ context.has_labels ? 5 : 4 }}">
                  <ul class="action_buttons align_left">
                    <li>
                      <a href="{{ scripturl }}?action=pm;sa=send">
                        {% include 'atoms/post_button.twig' with {'type': 'pm_new_message.gif', 'label': 'New message'} %}
                      </a>
                    </li>
                    <li>
                      <input type="image" name="del_selected" value="{{ txt.quickmod_delete_selected }}" src="{{ images_url }}/__gwnew/post_buttons/pm_delete_selected.gif" onclick="if (!confirm('{{ txt.delete_selected_confirm }}')) return false" class="pixel" />
                    </li>
                  </ul>
                </td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% if display_page_links %}
  <div class="forum_page_section">
    {% include 'components/forum_page_links.twig' with {'location': 'bottom', 'is_posts_index': true} %}
  </div>
{% endif %}
