{# Always return to the same topic when quick replying. #}
{% set always_return = true %}

{% if not context.is_locked %}
  <a id="quickreply"></a>

  <div class="object_form new_post_form quick_reply object_list spaced_top">
    <div class="blue_component">
      <div class="blue_component_header">
        <h3 class="blue_component_title">{{ txt.quick_reply }}</h3>
      </div>
      <div class="blue_component_medium object_list_frame" id="quickreplybox">
        <form action="{{ scripturl }}?board={{ context.current_board }};action=post2" method="post" accept-charset="{{ context.character_set }}" name="postmodify" id="postmodify" onsubmit="submitonce(this);">
          <input type="hidden" name="topic" value="{{ context.current_topic }}" />
          <input type="hidden" name="subject" value="{{ context.response_prefix }}{{ context.subject|raw }}" />
          <input type="hidden" name="icon" value="xx" />
          <input type="hidden" name="from_qr" value="1" />
          <input type="hidden" name="notify" value="{{ context.is_marked_notify or options.auto_notify ? '1' : '0' }}" />
          <input type="hidden" name="not_approved" value="{{ not context.can_reply_approved }}" />
          <input type="hidden" name="goback" value="{{ options.return_to_post or always_return ? '1' : '0' }}" />
          <input type="hidden" name="last_msg" value="{{ context.topic_last_message }}" />
          <input type="hidden" name="{{ context.session_var }}" value="{{ context.session_id }}" />
          <input type="hidden" name="seqnum" value="{{ context.form_sequence_number }}" />
          <table class="object_table">
            <tbody>
              {% if context.user.is_guest %}
                <tr class="object_row">
                  <th class="minimal">{{ txt.name }}:</th>
                  <td>
                    <input type="text" name="guestname" value="{{ context.name }}" size="25" tabindex="{{ context.tabindex }}" />
                  </td>
                </tr>
                <tr class="object_row">
                  <th class="minimal">{{ txt.email }}:</th>
                  <td>
                    <input type="text" name="email" value="{{ context.email }}" size="25" tabindex="{{ context.tabindex }}" />
                  </td>
                </tr>
              {% endif %}
              <tr class="object_row">
                <th class="minimal">{{ txt.message }}:</th>
                <td>
                  {% if context.oldTopicError %}
                    {% include 'atoms/notification.twig' with {'type': 'warning', 'content': txt.error_old_topic|format(modSettings.oldTopicDays)} %}
                  {% endif %}
                  {% if not context.can_reply_approved %}
                    {% include 'atoms/notification.twig' with {'type': 'info', 'content': txt.wait_for_approval} %}
                  {% endif %}
                  <textarea class="editor" name="message" id="message" rows="12" cols="600" tabindex="{{ context.tabindex }}"></textarea>
                  <script>decorateComponent('messageField');</script>
                </td>
              </tr>
              <tr class="object_row dark">
                <th class="minimal"></th>
                <td>
                  <button type="submit" name="post" onclick="return submitThisOnce(this);" tabindex="{{ context.tabindex }}"><strong>Post quick reply</strong></button>
                  <button type="submit" name="preview" onclick="return submitThisOnce(this);" accesskey="p" tabindex="{{ context.tabindex }}">{{ txt.preview }}</button>
                  {% if context.show_spellchecking %}
                    <button type="button" name="preview" onclick="spellCheck('postmodify', 'messageField');" tabindex="{{ context.tabindex }}">{{ txt.spell_check }}</button>
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
{% endif %}
