{% set can_quick_moderate = not context.can_quick_mod is empty and options.display_quick_mod > 0 and not context.topics is empty %}

<div class="forum_page_section">
  {% include 'components/forum_button_strip.twig' with {'buttons': buttons, 'type': 'primary'} %}
  {% include 'components/forum_page_links.twig' with {'is_message_index': true, 'board_id': context.current_board}|merge(page_links_context ?? {}) %}
</div>

<form action="{{ scripturl }}?action=quickmod;board={{ context.current_board }}.{{ context.start }}" method="post" accept-charset="{{ context.character_set }}" class="clear" name="quickModForm" id="quickModForm">
  {% include 'components/topic_listing_messages.twig' with {'buttons': buttons}|merge(listing_messages_context ?? {}) %}
  <a id="bot"></a>
  <input type="hidden" name="{{ context.session_var }}" value="{{ context.session_id }}" />
</form>

<div class="forum_page_section">
  {% include 'components/forum_button_strip.twig' with {'buttons': buttons, 'type': 'primary'} %}
  {% include 'components/forum_page_links.twig' with {'location': 'bottom', 'is_message_index': true, 'board_id': context.current_board}|merge(page_links_context ?? {}) %}
</div>
