{# The status icon indicates information about the topic (e.g. if it's very popular or not). #}
{% set display_status_icon = false %}
{# The message icon is added by the user when creating the topic. #}
{% set display_message_icon = true %}
{# Whether we display a bar separating regular topics from sticky topics. #}
{% set display_sticky_bar = display_sticky_bar ?? true %}
{# Amount of icon columns to display (should be at least 1!) #}
{% set icon_cols_amount = (display_status_icon ? 1 : 0) + (display_message_icon ? 1 : 0) %}

{% set index_title = index_title|default('Threads in Forum: ' ~ context.name) %}
 
{% set show_quick_mod = context.can_quick_mod and options.display_quick_mod %}
{% set show_unapproved_messages_notification = context.unapproved_posts_message is not empty %}

<div class="topic_list object_list">
  <div class="blue_component">
    <div class="topic_list_inner">
      <div class="blue_component_header">
        <h3 class="blue_component_title">{{ index_title }}</h3>
        <div class="blue_component_buttons">
          {% include 'components/forum_button_strip.twig' with {'buttons': title_buttons} %}
        </div>
      </div>
      <div class="object_list_frame">
        <table class="message_table_list object_table {{ show_quick_mod ? 'show_quick_mod' : 'hide_quick_mod' }}">
          <thead>
            <tr class="object_row">
              <th scope="col" class="icon empty" colspan="{{ icon_cols_amount }}"></th>
              <th scope="col" class="text_left subject {{ context.sort_by == 'subject' ? 'active_sort_' ~ context.sort_direction }}">
                <a href="{{ scripturl }}?board={{ context.current_board }}.{{ context.start }};sort=subject{{ context.sort_by == 'subject' and context.sort_direction == 'up' ? ';desc' : ''}}">
                  {{ txt.subject }}
                </a>
              </th>
              <th scope="col" class="text_center starter {{ context.sort_by == 'starter' ? 'active_sort_' ~ context.sort_direction }}">
                <a href="{{ scripturl }}?board={{ context.current_board }}.{{ context.start }};sort=starter{{ context.sort_by == 'starter' and context.sort_direction == 'up' ? ';desc' : ''}}">
                  {{ txt.started_by }}
                </a>
              </th>
              <th scope="col" class="text_center replies {{ context.sort_by == 'replies' ? 'active_sort_' ~ context.sort_direction }}">
                <a href="{{ scripturl }}?board={{ context.current_board }}.{{ context.start }};sort=replies{{ context.sort_by == 'replies' and context.sort_direction == 'up' ? ';desc' : ''}}">
                  {{ txt.replies }}
                </a>
              </th>
              <th scope="col" class="text_center views {{ context.sort_by == 'views' ? 'active_sort_' ~ context.sort_direction }}">
                <a href="{{ scripturl }}?board={{ context.current_board }}.{{ context.start }};sort=views{{ context.sort_by == 'views' and context.sort_direction == 'up' ? ';desc' : ''}}">
                  {{ txt.views }}
                </a>
              </th>
              <th scope="col" class="text_left last_post {{ context.sort_by == 'last_post' ? 'active_sort_' ~ context.sort_direction }}">
                <a href="{{ scripturl }}?board={{ context.current_board }}.{{ context.start }};sort=last_post{{ context.sort_by == 'last_post' and context.sort_direction == 'up' ? ';desc' : ''}}">
                  {{ txt.last_post }}
                </a>
              </th>
              <th scope="col" class="text_center quick_mod minimal no_padding">
                <label class="checkbox_wrapper">
                  <input type="checkbox" onclick="gw.selectCheckAll(this, this.form, 'topics[]');" class="input_check" />
                </label>
              </th>
            </tr>
          </thead>
          <tbody>
            {% if context.topics is not empty %}
              {% if show_unapproved_messages_notification %}
                {# TODO #}
                <tr class="text_center status_message">
                  <td colspan="999">
                    <span class="alert">!</span> {{ context.unapproved_posts_message }}
                  </td>
                </tr>
              {% endif %}

              {% for topic in context.topics %}
                {% set topic_classes = [] %}
                {% if not context.can_approve_posts and not topic.approved %}
                  {% set topic_classes = topic_classes|merge(['is_unapproved']) %}
                {% endif %}
                {% if topic.new and context.user.is_logged %}
                  {% set topic_classes = topic_classes|merge(['is_unread']) %}
                {% endif %}
                {% if topic.is_sticky %}
                  {% set topic_classes = topic_classes|merge(['is_sticky']) %}
                {% endif %}
                {% if topic.is_poll %}
                  {% set topic_classes = topic_classes|merge(['is_poll']) %}
                {% endif %}
                {% if topic.is_locked and not topic._is_redirect_topic %}
                  {% set topic_classes = topic_classes|merge(['is_locked']) %}
                {% endif %}
                {% if topic._is_redirect_topic %}
                  {% set topic_classes = topic_classes|merge(['is_redirect']) %}
                {% endif %}

                {# Whether we're displaying information about a different topic, which this topic redirects to. #}
                {% set is_redirect_row = topic._is_redirect_topic and topic._redirects.topic_link %}

                {% if not is_redirect_row %}
                  {# Normal topics. #}
                  {% set post_link = topic.first_post.link %}
                  {% set member_link = topic.first_post.member.link %}
                  {% set replies = topic.replies %}
                  {% set views = topic.views %}
                  {% set last_post_url = topic.last_post.href %}
                  {% set last_post_time = topic.last_post.time %}
                  {% set last_post_member_link = topic.last_post.member.link %}
                {% else %}
                  {# Redirect topic. #}
                  {% set post_link = '<a href="' ~ topic._redirects.topic_link ~'">' ~ topic.subject ~ '</a>' %}
                  {% set member_link = topic._redirects.first_post._member_link %}
                  {% set replies = topic._redirects.topic.num_replies %}
                  {% set views = topic._redirects.topic.num_views %}
                  {% set last_post_url = topic._redirects.topic._last_post_url %}
                  {% set last_post_time = topic._redirects.last_post._post_time %}
                  {% set last_post_member_link = topic._redirects.last_post._member_link %}
                {% endif %}

                {# If we've just printed all the sticky topics and reached the first non-sticky, print a bar. #}
                {% if last_topic_row_was_sticky and not topic.is_sticky and display_sticky_bar %}
                  <tr class="object_row bar status_message empty_separator">
                    <td colspan="999"></td>
                  </tr>
                {% endif %}
                {% set last_topic_row_was_sticky = topic.is_sticky %}

                <tr class="object_row topic_row light {{ topic_classes|join(' ') }}">
                  {% if display_status_icon %}
                    <td class="icon minimal">
                      <img src="{{ images_url }}/topic/{{ topic.class }}.gif" class="pixel" alt="" />
                    </td>
                  {% endif %}
                  {% if display_message_icon %}
                    <td class="icon minimal">
                      {% set has_system_icon = topic.is_poll or topic._is_redirect_topic %}
                      {% include 'atoms/posticon.twig' with {'icon_name': topic.first_post.icon, 'is_system': has_system_icon, 'is_poll': topic.is_poll} %}
                    </td>
                  {% endif %}
                  <td class="subject">
                    <div id="topic_{{ topic.first_post.id }}" class="topic_container">
                      <span class="link">
                        {% if topic.new %}
                          <a href="{{ topic.last_post.href|raw }}" class="new_post_link_indicator">
                            <img src="{{ images_url }}/__gwnew/topic_new_post.gif" alt="{{ txt.new }}" title="{{ txt.new }}" class="pixel" />
                          </a>
                        {% endif %}
                        {{ post_link|raw }}
                      </span>
                      <span class="topic_pages" id="pages{{ topic.first_post.id }}">{{ topic.pages|raw }}</span>
                    </div>
                  </td>
                  <td class="starter text_center">
                    {{ member_link|raw }}
                  </td>
                  <td class="stats replies text_center">
                    {{ replies }}
                  </td>
                  <td class="stats views text_center">
                    {{ views }}
                  </td>
                  <td class="last_post small no_wrap">
                    <div class="last_post_time">
                      {{ last_post_time|raw }}
                    </div>
                    <div>
                      <a href="{{ last_post_url|raw }}" class="last_post_icon">
                        <img src="{{ images_url }}/__gwnew/ui_icons/last_post.gif" alt="{{ txt.last_post }}" title="{{ txt.last_post }}" class="pixel" />
                      </a>
                      {{ txt.by }} {{ last_post_member_link|raw }}
                    </div>
                  </td>
                  <td class="text_center quick_mod minimal no_padding">
                    <label class="checkbox_wrapper">
                      <input type="checkbox" name="topics[]" value="{{ topic.id }}" class="input_check" onclick="gw.selectCheck(this);" />
                    </label>
                  </td>
                </tr>
              {% endfor %}

              {% if show_quick_mod and context.topics is not empty %}
                {% include 'components/topic_listing_mod_row.twig' %}
              {% endif %}
            {% else %}
              {# Displayed when there's no posts. #}
              <tr class="object_row">
                <td colspan="999" class="text_center status_message light">
                  <strong>{{ txt.msg_alert_none }}</strong>
                </td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
