<tr class="object_row topic_row medium quick_mod_options">
  <td colspan="999" class="text_right">
    <select name="qaction"{{ context.can_move ? ' onchange="this.form.moveItTo.disabled = (this.options[this.selectedIndex].value != \'move\');"' : '' }}>
      <option value="">Moderate:</option>
      <optgroup label="Moderation actions">
        {% if context.can_remove %}
          <option value="remove">{{ txt.quick_mod_remove }}</option>
        {% endif %}
        {% if context.can_lock %}
          <option value="lock">{{ txt.quick_mod_lock }}</option>
        {% endif %}
        {% if context.can_sticky %}
          <option value="sticky">{{ txt.quick_mod_sticky }}</option>
        {% endif %}
        {% if context.can_move %}
          <option value="move">{{ txt.quick_mod_move }}</option>
        {% endif %}
        {% if context.can_merge %}
          <option value="merge">{{ txt.quick_mod_merge }}</option>
        {% endif %}
        {% if context.can_restore %}
          <option value="restore">{{ txt.quick_mod_restore }}</option>
        {% endif %}
        {% if context.can_approve %}
          <option value="approve">{{ txt.quick_mod_approve }}</option>
        {% endif %}
        {% if context.user.is_logged %}
          <option value="markread">{{ txt.quick_mod_markread }}</option>
        {% endif %}
      </optgroup>
    </select>

    {% if context.can_move %}
      <select id="moveItTo" name="move_to" disabled="disabled">
        <option value="">
          Move to...
        </option>
        {% for category in context.move_to_boards %}
          <optgroup label="{{ category.name }}">
            {% for board in category.boards %}
              <option value="{{ board.id }}" {% if board.selected %}selected="selected"{% endif %}>
                {% if board.child_level > 0 %}{% for i in range(0, board.child_level - 1) %}&gt;{% endfor %}{% endif %} {{ board.name }}
              </option>
            {% endfor %}
          </optgroup>
        {% endfor %}
      </select>
    {% endif %}

    <input type="submit" value="{{ txt.quick_mod_go }}" onclick="return document.forms.quickModForm.qaction.value != '' && confirm('{{ txt.quickmod_confirm }}');" class="button_submit qaction" />
  </td>
</tr>
