<a href="#{{ icon.name }}" data-emoticon="{{ icon.name }}">
  <img src="{{ icon.url }}" name="post_icon" class="emoticon pixel {{ gw_posticon ? 'gw_posticon' : '' }}" alt="{{ icon.name }}" title="{{ icon.name }}" width="{{ icon.size.0 }}" height="{{ icon.size.1 }}" />
</a>
