{% if not icon.hidden %}
  {% set name = icon.description ?? icon.filename %}
  {% set size = icon.size.0 ? 'width="' ~ icon.size.0 ~ '" height="' ~ icon.size.1 ~ '"' : '' %}
  <a href="#{{ icon.code.0|e('html') }}" title="{{ name }}" data-emoticon="{{ icon.filename|e('html') }}">
    <img src="{{ context.emoticons_base_url }}/{{ icon._url }}" name="post_icon" class="emoticon pixel {{ gw_posticon ? 'gw_posticon' : '' }}" alt="{{ name }}" title="{{ name }}" {{ size|raw }} />
  </a>
{% endif %}
