{# Services implemented as custom fields. #}
{% set custom_services = {
  irc: {
    button: 'contact_irc'
  }
} %}

<ul class="action_buttons align_left">
  {% if context.can_send_pm and message.member.id %}
    <li class="pm_button">
      <a href="{{ scripturl }}?action=pm;sa=send;u={{ message.member.id }}" title="{{ message.member.online.is_online ? txt.pm_online : txt.pm_offline }}">
        {% include 'atoms/post_button.twig' with {'type': 'contact_pm.gif', 'label': message.member.online.is_online ? txt.pm_online : txt.pm_offline} %}
      </a>
    </li>
  {% endif %}

  {% if message.member.show_email in ['yes', 'yes_permission_override', 'no_through_forum'] %}
    <li class="email_button">
      <a href="{{ scripturl }}?action=emailuser;sa=email;msg={{ message.id }}" rel="nofollow" title="{{ txt.email }}">
        {% include 'atoms/post_button.twig' with {'type': 'contact_email.gif', 'label': txt.email} %}
      </a>
    </li>
  {% endif %}

  {# This shows the popular messaging icons. #}
  {% if message.member.has_messenger and message.member.can_view_profile %}
    {% for service in ['icq', 'msn', 'aim', 'yim'] %}
      {% set service_data = message.member[service] %}
      {% if service_data.href %}
        {% set label = txt[service ~ '_title'] ~ ': ' ~ service_data.name %}
        <li class="im_button type_{{ service }}">
          <a href="{{ service_data.href }}" title="{{ label }}">
            {% include 'atoms/post_button.twig' with {'type': 'contact_' ~ service ~ '.gif', 'label': label} %}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endif %}

  {# Show IRC messaging icon. Unlike the others, this is implemented as a custom field. #}
  {% for service, service_data in custom_services %}
    {% if message.member.options['cust_' ~ service] %}
      {% set value = message.member.options['cust_' ~ service] %}
      <li class="im_button custom_field type_{{ service }}">
        <a href="{{ value }}" title="{{ value }}">
          {% include 'atoms/post_button.twig' with {'type': service_data.button ~ '.gif', 'label': value} %}
        </a>
      </li>
    {% endif %}
  {% endfor %}

  {% if message.member.website.url != '' and not context.disabled_fields.website is defined %}
    <li class="website_button">
      <a href="{{ message.member.website.url }}" title="{{ message.member.website.title }}" target="_blank" rel="noopener noreferrer">
        {% include 'atoms/post_button.twig' with {'type': 'contact_www.gif', 'label': message.member.website.title} %}
      </a>
    </li>
  {% endif %}
</ul>
