{% set has_voted = context.poll.show_results or not context.allow_vote %}

{# Determine what the biggest vote percentage is, for purposes of normalizing the vote percentages. #}
{% set max_vote_percentage = get_max_poll_percentage(context.poll.options) %}

{# Whether the results are visible yet. #}
{% set can_view_results = context.allow_poll_view %}

{% if not has_voted %}
  <form action="{{ scripturl }}?action=vote;topic={{ context.current_topic }}.{{ context.start }};poll={{ context.poll.id }}" method="post" accept-charset="{{ context.character_set }}">
{% endif %}

<div id="poll" class="post_poll object_list">
  <div class="blue_component">
    <div class="blue_component_header">
      <h3 class="blue_component_title title">
        <span class="subject">Poll: <span class="content">{{ context.poll.question|raw }}</span></span>
      </h3>
      <div class="blue_component_buttons">
        {% include 'components/layout/button_strip.twig' with {'buttons': poll_buttons} %}
      </div>
    </div>
    <div class="blue_component_medium object_list_frame">
      <table class="object_table">
        {# Poll options for people who haven't voted yet. #}
        {% if not has_voted %}
          <tbody class="poll_options">
            {% for option in context.poll.options %}
              <tr class="object_row poll_item">
                <td>
                  <label for="{{ option.id }}">
                    {{ option.vote_button|raw }}
                    {{ option.option|raw }}
                  </label>
                </td>
              </tr>
            {% endfor %}

            <tr class="object_row dark">
              <td class="option">
                <button type="submit">{{ txt.poll_vote }}</button>
                <input type="hidden" name="{{ context.session_var }}" value="{{ context.session_id }}" />
                {# Show a notice if you're allowed more than one option. #}
                {% if context.poll.allowed_warning %}
                  <span class="multiple_votes_notice">{{ context.poll.allowed_warning }}</span>
                {% endif %}
              </td>
            </tr>
          </tbody>
        {% endif %}

        {# Poll results. #}
        {% if has_voted %}
          <tbody class="poll_results">
            {% for option in context.poll.options %}
              {% set normalized_percentage = max_vote_percentage == 0 ? 0 : (option.percent / max_vote_percentage) * 100 %}
              <tr class="object_row bar_item {{ option.voted_this ? 'voted highlighted' : 'not_voted light' }} {{ option.votes == 0 ? 'zero_votes' }}">
                <td class="option">
                  {{ option.option }}
                </td>
                {% if can_view_results %}
                  <td class="bar_container">
                    <div class="bar_wrapper">
                      <div class="bar" style="width: {{ normalized_percentage }}%;"></div>
                    </div>
                  </td>
                  <td class="votes">
                    {{ option.votes }}
                  </td>
                  <td class="percentage">
                    {{ option.percent }}%
                  </td>
                {% endif %}
              </tr>
            {% endfor %}

            {% if can_view_results %}
              <tr class="object_row poll_total">
                <td colspan="2">
                  {% if context.poll.is_locked %}
                    <p>
                      <strong>Status:</strong> Voting has ended
                    </p>
                  {% elseif context.poll.expire_time %}
                    <p>
                      <strong>{{ context.poll.is_expired ? txt.poll_expired_on : txt.poll_expires_on }}:</strong> {{ context.poll.expire_time|raw }}
                    </p>
                  {% endif %}
                </td>
                <td class="votes">
                  {{ context.poll.total_votes }}
                </td>
                <td class="percentage_label">
                  Total Votes
                </td>
              </tr>
            {% endif %}
          </tbody>
        {% endif %}
      </table>
    </div>
  </div>
</div>

{% if not has_voted %}
  </form>
{% endif %}
