{% set show_only_numbers = display_who_viewing == 1 %}
{% set show_members = display_who_viewing == 2 %}

{# Summary of members that are currently viewing this topic, e.g. "1 member and 2 guests are viewing this topic" #}
{% set currently_viewing %}
  {{ context.view_members|length }} {{ (context.view_members|length == 1 ? txt.who_member : txt.members)|lower }}
  {% if context.view_num_hidden and not can_moderate_forum %}
    (plus {{ context.view_num_hidden }} hidden members)
  {% endif %}
  {% if context.view_num_guests > 0 %}
    {{ txt.who_and }}{{ context.view_num_guests }} {{ (context.view_num_guests == 1 ? txt.guest : txt.guests)|lower }}
    {{ context.view_num_guests == 1 ? 'is' : 'are' }}
  {% else %}
    {{ context.view_members|length == 1 ? 'is' : 'are' }}
  {% endif %}
  viewing this topic
{% endset %}

{% if display_who_viewing %}
  <div class="blue_component object_list who_is_viewing">
    <div class="blue_component_header">
      <h3 class="blue_component_title">
        {% if show_members %}
          Currently active: {{ currently_viewing }}
        {% else %}
          Currently active
        {% endif %}
      </h3>
    </div>
    <div class="blue_component_section blue_component_primary blue_component_light">
      <div class="section viewing_info {{ show_members ? 'small' }}">
        {% if show_only_numbers %}
          {{ currently_viewing }}
        {% else %}
          {% set members = context.view_members %}
          {% if members|length %}
            {%- apply spaceless %}
              {% for member in members %}
                <span class="viewing_member member">
                  {# TODO: pass on member.group_name which isn't present here. #}
                  <a href="{{ scripturl }}?action=profile;u={{ member.id }}" class="{{ get_username_pip_class(member.group, member.id, member.options.cust_member, true) }}">{{ member.name ?? member.username }}</a>
                </span>
                {% if loop.revindex0 > 0 %}<span class="separator">, </span>{% endif %}
              {% endfor %}
            {% endapply -%}
          {% else %}
            0 members
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
