{# TODO: CLEAN UP #}
<div class="linked_events">
  <div class="title_bar">
    <h3 class="titlebg headerpadding">{{ txt.calendar_linked_events }}</h3>
  </div>
  <div class="windowbg">
    <span class="topslice"><span></span></span>
    <div class="content">
      <ul class="reset">
        {% for event in context.linked_calendar_events %}
          <li>
            {% if event.can_edit %}
              <a href="{{ event.modify_href }}">
                <img src="{{ images_url }}/__gwnew/ui_icons/modify_small.gif" alt="" title="{{ txt.modify }}" class="edit_event" />
              </a>
            {% endif %}
            <strong>{{ event.title }}</strong>: {{ event.start_date }}
            {% if event.start_date not event.end_date %} - {{ event.end_date }}{% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
