{# TODO: fix styling #}
<form action="{{ scripturl }}?action=admin;area=logs;sa=errorlog{{ context['sort_direction'] == 'down' ? ';desc' }};start={{ context['start'] }}{{ context['has_filter'] ? context['filter']['href'] }}" method="post" accept-charset="{{ context['character_set'] }}" onsubmit="if (lastClicked == \'remove_all\' &amp;&amp; !confirm(\'{{ txt['sure_about_errorlog_remove'] }}\')) return false; else return true;">
  <script>
  var lastClicked = "";
  </script>
  <div class="object_list">
    <div class="blue_component">
      <div class="blue_component_header">
        <h3 class="blue_component_title">{{ txt.errlog }}</h3>
      </div>
      <div class="object_list_frame">
        <table class="object_table" id="error_log">
          <tbody>
            <tr class="object_row">
              <td colspan="3">
                {{ txt['apply_filter_of_type']|raw }}:
                {% set error_types = [] %}
                {% for type, details in context.error_types %}
                    {% set error_types = error_types|merge([(details.is_selected ? '<img src="' ~ settings.images_url ~ '/selected.gif" alt="" /> ' : '') ~ '<a href="' ~ details.url ~ '" ' ~ (details.is_selected ? 'style="font-weight: bold;"' : '') ~ ' title="' ~ details.description ~ '">' ~ details.label ~ '</a>']) %}
                {% endfor %}
                {{ error_types|join('&nbsp;|&nbsp;')|raw }}
              </td>
            </tr>
            <tr class="object_row">
              <td colspan="3" class="windowbg">
                {{ txt['pages']|raw }}: {{ context['page_index']|raw }}
              </td>
            </tr>
            {% if context.has_filter %}
              <tr class="object_row">
                <td colspan="3">
                  <strong>{{ txt.applying_filter|raw }}:</strong>
                  {{ context['filter']['entity'] }} {{ context['filter']['value']['html']|raw }} (<a href="{{ scripturl }}?action=admin;area=logs;sa=errorlog{{ context['sort_direction'] == 'down' ? ';desc' }}">{{ txt['clear_filter'] }}</a>)
                </td>
              </tr>
            {% endif %}

            {% if context.errors %}
              <tr class="object_row">
                <td colspan="3">
                  <div>
                    <input type="submit" value="{{ txt['remove_selection'] }}" onclick="lastClicked = \'remove_selection\';" class="button_submit" />
                    <input type="submit" name="delall" value="{{ context['has_filter'] ? txt['remove_filtered_results'] : txt['remove_all'] }}" onclick="lastClicked = \'remove_all\';" class="button_submit" />
                  </div>
                  <label for="check_all1">
                    <input type="checkbox" id="check_all1" onclick="invertAll(this, this.form, \'delete[]\'); this.form.check_all2.checked = this.checked;" class="input_check" />
                    <strong>{{ txt['check_all'] }}</strong>
                  </label>
                </td>
              </tr>
            {% endif %}

            {% for error in context.errors %}
              <tr class="object_row">
                <td rowspan="2" class="checkbox_column">
                  <input type="checkbox" name="delete[]" value="{{ error['id'] }}" class="input_check" />
                </td>
                <td class="half_width">
                  <a href="{{ scripturl }}?action=admin;area=logs;sa=errorlog{{ context['sort_direction'] == 'down' ? ';desc' }};filter=id_member;value={{ error['member']['id'] }}" title="{{ txt['apply_filter'] }}: {{ txt['filter_only_member'] }}">
                    <img src="{{ images_url }}/filter.gif" alt="{{ txt['apply_filter'] }}: {{ txt['filter_only_member']|raw }}" />
                  </a>
                  <strong>{{ error['member']['link']|raw }}</strong><br />
                  <a href="{{ scripturl }}?action=admin;area=logs;sa=errorlog{{ context['sort_direction'] == 'down' ? ';desc' }};filter=ip;value={{ error['member']['ip'] }}" title="{{ txt['apply_filter'] }}: {{ txt['filter_only_ip'] }}">
                    <img src="{{ images_url }}/filter.gif" alt="{{ txt['apply_filter'] }}: {{ txt['filter_only_ip'] }}" />
                  </a>
                  <strong><a href="{{ scripturl }}?action=trackip;searchip={{ error['member']['ip'] }}">{{ error['member']['ip']|raw }}</a></strong>
                  <br />
                </td>
                <td class="half_width">
                  <a href="{{ scripturl }}?action=admin;area=logs;sa=errorlog{{ context['sort_direction'] == 'down' ? '' : ';desc' }}{{ context['has_filter'] ? context['filter']['href'] }}" title="{{ txt['reverse_direction'] }}">
                    <img src="{{ images_url }}/sort_{{ context['sort_direction'] }}.gif" alt="{{ txt['reverse_direction'] }}" />
                  </a>
                  {{ error['time']|raw }}
                  <br />

                  {% if error.member.session %}
                    <a href="{{ scripturl }}?action=admin;area=logs;sa=errorlog{{ context['sort_direction'] == 'down' ? ';desc' }};filter=session;value={{ error['member']['session'] }}" title="{{ txt['apply_filter'] }}: {{ txt['filter_only_session'] }}">
                      <img src="{{ images_url }}/filter.gif" alt="{{ txt['apply_filter'] }}: {{ txt['filter_only_session']|raw }}" />
                    </a>
                    {{ error.member.session|raw }}
                    <br />
                  {% endif %}
                  
                  <a href="{{ scripturl }}?action=admin;area=logs;sa=errorlog{{ context['sort_direction'] == 'down' ? ';desc' }};filter=error_type;value={{ error['error_type']['type'] }}" title="{{ txt['apply_filter'] }}: {{ txt['filter_only_type'] }}">
                    <img src="{{ images_url }}/filter.gif" alt="{{ txt['apply_filter'] }}: {{ txt['filter_only_type'] }}" />
                  </a>
                  {{ txt.error_type }}: {{ error['error_type']['name']|raw }}
                </td>
              </tr>

              <tr class="object_row">
                <td colspan="2">
                  <div class="clear_left floatleft">
                    <a href="{{ scripturl }}?action=admin;area=logs;sa=errorlog{{ context['sort_direction'] == 'down' ? ';desc' }};filter=url;value={{ error['url']['href'] }}" title="{{ txt['apply_filter'] }}: {{ txt['filter_only_url'] }}">
                      <img src="{{ images_url }}/filter.gif" alt="{{ txt['apply_filter'] }}: {{ txt['filter_only_url'] }}" />
                    </a>
                  </div>
                  <div class="floatleft marginleft">
                    <a href="{{ error['url']['html'] }}">{{ error['url']['html']|raw }}</a>
                  </div>
                  <div class="clear_left floatleft">
                    <a href="{{ scripturl }}?action=admin;area=logs;sa=errorlog{{ context['sort_direction'] == 'down' ? ';desc' }};filter=message;value={{ error['message']['href'] }}" title="{{ txt['apply_filter'] }}: {{ txt['filter_only_message'] }}">
                      <img src="{{ images_url }}/filter.gif" alt="{{ txt['apply_filter'] }}: {{ txt['filter_only_message']|raw }}" />
                    </a>
                  </div>
                  <div class="floatleft marginleft">{{ error['message']['html']|raw }}</div>

                  {% if error.file %}
                    <div class="clear_left floatleft">
                      <a href="{{ scripturl }}?action=admin;area=logs;sa=errorlog{{ context['sort_direction'] == 'down' ? ';desc' }};filter=file;value={{ error['file']['search'] }}" title="{{ txt['apply_filter'] }}: {{ txt['filter_only_file'] }}">
                        <img src="{{ images_url }}/filter.gif" alt="{{ txt['apply_filter'] }}: {{ txt['filter_only_file']|raw }}" />
                      </a>
                    </div>
                    <div class="floatleft marginleft">
                      {{ txt['file'] }}: {{ error['file']['link']|raw }}<br />
                      {{ txt['line'] }}: {{ error['file']['line']|raw }}
                    </div>
                  {% endif %}

                </td>
              </tr>
            {% endfor %}

            {% if not context.errors %}
              <tr class="object_row">
                <td colspan="3">{{ txt['errlog_no_entries']|raw }}</td>
              </tr>
            {% endif %}

            <tr class="object_row">
              <td colspan="3">
                {{ txt['pages'] }}: {{ context['page_index']|raw }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {% if context.sort_direction == 'down' %}
    <input type="hidden" name="desc" value="1" />
  {% endif %}

  <input type="hidden" name="{{ context['session_var'] }}" value="{{ context['session_id'] }}" />
</form>
