{% set form_tag %}
  <form id="registration_agreement" action="{{ scripturl }}?action=admin;area=regcenter" method="post" accept-charset="{{ context.character_set }}">
{% endset %}

{% set form_content %}
  <div class="content">
    <h4>{{ txt.admin_reserved_line }}</h4>
    <p class="reserved_names">
      <textarea cols="30" rows="6" name="reserved" id="reserved">{{ context.reserved_words|join('\n') }}</textarea>
    </p>
    <ul class="object_row_list">
      {% set options = {
        match_word: {label: txt.admin_match_whole, name: 'matchword'},
        match_case: {label: txt.admin_match_case, name: 'matchcase'},
        match_user: {label: txt.admin_check_user, name: 'matchuser'},
        match_name: {label: txt.admin_check_display, name: 'matchname'},
      } %}
      {% for name, option in options %}
        <li>
          <label for="{{ option.name }}"><input type="checkbox" name="{{ option.name }}" id="{{ option.name }}" tabindex="{{ context.tabindex }}" {% if context.reserved_word_options[name] %}checked="checked"{% endif %} /> {{ option.label }}</label>
        </li>
      {% endfor %}
    </ul>
  </div>
  <input type="hidden" name="sa" value="reservednames" />
  <input type="hidden" name="{{ context.session_var }}" value="{{ context.session_id }}" />
{% endset %}

{% set form_footer %}
  <input type="submit" value="{{ txt.save }}" name="save_reserved_names" tabindex="{{ context.tabindex }}" />
{% endset %}

{% include 'components/component_list_form.twig' with {
  'title': txt.admin_reserved_set,
  'form_tag': form_tag,
  'form_content': form_content,
  'form_footer': form_footer
} %}
